.so-badge {
  max-width: max-content;
  min-width: 11rem;
  cursor: default;
}

.so-badge-status-1 {
  // background: rgba(var(--bs-picton-blue), 0.37) !important;
  background: rgba($color: #50A5F1, $alpha: 0.37) !important;
  color: var(--bs-picton-blue);
}

.so-badge-status-2 {
  background: rgba($color: #F69220, $alpha: 0.37) !important;
  color: var(--bs-carrot-orange);
}

.so-badge-status-3 {
  background: rgba($color: #34C38F, $alpha: 0.37) !important;
  color: var(--bs-greenish-teal);
}
