<div class="card card-flush shadow-none p-0 h-full" *transloco="let t; scope: 'school'">
  <div class="card-header p-0">
    <h3 class="card-title fs-18 fw-700">{{t('school.listSubject')}}</h3>
    <div class="card-toolbar">
      <div class="filter d-flex flex-wrap align-items-center">
        <select name="status" id="status" [(ngModel)]="typeSubject" class="so-select me-2 mb-3 fw-600 text-color-river-bed" (ngModelChange)="filter()">
          <option [value]="null">{{t('school.selectTypeSubject')}}</option>
          <ng-container *ngFor="let subject of arrTypeSubjects">
            <option [value]="subject.value">{{t(subject.label)}}</option>
          </ng-container>
        </select>
        <div class="so-input-search me-2 mb-3">
          <input class="fw-600 text-color-river-bed" type="text" placeholder="{{ t('school.search') }}" #searchInput name="input-search"
          (keydown)="search($event, searchInput.value)">
          <img src="assets/images/svg/search.svg" alt="" nzType="search" (click)="searchClickIcon(searchInput.value)"/>
        </div>
        <ng-template ngxPermissionsOnly="{{ permission.school_manager }}">
          <button class="so-btn so-btn-primary so-btn-primary--small mb-3" (click)="assign()" name="btn-assign">
            <img src="assets/images/svg/add.svg" alt="">
            {{t('school.assignSubject')}}
          </button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card-body py-5 pt-0 p-0">
    <div class="table-responsive">
      <table class="table table-row-bordered table-row-gray-300">
        <caption></caption>
        <thead>
          <tr class="fs-14 fw-700 text-color-river-bed">
            <th class="text-center w-5">
              {{t('STT')}}</th>
            <th class="w-25">{{t('school.nameSubject')}}</th>
            <th class="w-15">{{t('code')}} </th>
            <th class="w-20">{{t('school.typeSubject')}} </th>
            <ng-template ngxPermissionsOnly="{{ permission.school_manager }}">
              <th class="text-center w-8"> {{t('action')}} </th>
            </ng-template>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of arrList; let i=index">
            <tr class="fs-13 fw-600 text-color-river-bed">
              <td class="text-center">
                {{isLoading ? (oldPageIndex-1)*pageSize + i + 1 : (pageIndex-1)*pageSize + i + 1}}
              </td>
              <td>
                <span>{{item.name}}</span>
              </td>
              <td>
                {{item.code}}
              </td>
              <td>
                <span class="badge so-badge so-badge-status-{{item?.subjectType}}"
                >{{t(item.subjectTypeName)}}</span>
              </td>
              <ng-template ngxPermissionsOnly="{{ permission.school_manager }}">
                <td class="text-center">
                  <div class="d-flex justify-content-center">
                    <button class="btn-remove" (click)="remove(item.id, item.name)" name="btn-remove">
                      <img src="assets/images/svg/icon-delete.svg" alt="">
                    </button>
                  </div>
                </td>
              </ng-template>
            </tr>
          </ng-container>
          <tr *ngIf="arrList?.length == 0 || !arrList">
            <td class="text-no-data" colspan="5">{{t('noData')}}</td>
          </tr>
        </tbody>
      </table>

      <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
        *ngIf="collectionSize > sizeOption[0]" [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
      </app-pagination>
    </div>
  </div>
</div>
<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
