.so-badge {
  max-width: max-content;
  min-width: 11rem;
  cursor: default;
}

.so-badge-status-1 {
  background: rgba(132, 181, 255, 0.37) !important;
  color: #50a5f1 !important;
}

.so-badge-status-2 {
  background: rgba($color: #f69220, $alpha: 0.37) !important;
  color: #F69220 !important;
}

.so-badge-status-3 {
  background: rgba($color: #34c38f, $alpha: 0.37) !important;
  color: #34c38f !important;
}
