<div class="card card-flush shadow-sm p-0 h-full" *transloco="let t; scope: 'module-manager'">
  <div class="card-header">
    <h3 class="card-title fs-18 fw-700">{{ t('moduleManager.moduleList') }}</h3>
    <div class="card-toolbar">
      <div class="filter d-flex flex-wrap align-items-center">
        <select class="fs-13 fw-500 so-form-control so-select me-4 mb-3" name="select-filter-status-module" (change)="changeFilterStatus($event)">
          <option value="">{{ t('status') }}</option>
          <option value="1">{{ t('moduleManager.activated') }}</option>
          <option value="0">{{ t('moduleManager.locked') }}</option>
        </select>
        <div class="so-input-search mb-3">
          <input class="fs-13 fw-500" [(ngModel)]="keyWord" type="text" name="input-search" placeholder="{{ t('moduleManager.enterNameCodeModule') }}"
            (keyup.enter)="checkChangeKeywordSerach()">
          <img src="assets/images/svg/search.svg" alt="icon" class="cursor-pointer"
            (click)="checkChangeKeywordSerach()" />
        </div>
      </div>
    </div>
  </div>
  <div class="card-body py-5 pt-0">
    <div class="table-responsive">
      <table class="table table-row-bordered table-row-gray-300">
        <caption></caption>
        <thead>
          <tr class="fs-14 fw-700 text-color-river-bed">
            <th class="w-5 text-center">
              {{ t('moduleManager.order') }}
            </th>
            <th class="w-30">
              {{ t('moduleManager.moduleName') }}
            </th>
            <th class="w-30">
              {{ t('moduleManager.moduleCode') }}
            </th>
            <th class="w-20">
              {{ t('moduleManager.pemission') }}
            </th>
            <th class="w-15">
              {{ t('status') }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSource;let i = index" class="fs-13 fw-600 text-color-river-bed">
            <td class="text-center">
              {{isLoading ? (oldPageIndex-1)*pageSize + i + 1 : (pageIndex-1)*pageSize + i + 1}}
            </td>
            <td class="fw-700 text-color-picton-blue so-pointer" id="view-detail-module" (click)="viewDetailModule(item)">
              {{ item.name }}
            </td>
            <td class="fw-700">
              {{ item.code }}
            </td>
            <td>
              <span class="badge badge-primary so-badge so-badge--primary so-pointer" name="view-permission" (click)="getListPermissionOfModule(item)">{{ item.permissionNumber }}</span>
            </td>
            <td>
              <span class="w-126px badge so-badge {{ item.isActive ? 'badge-success so-badge--success' : 'badge-danger so-badge--danger' }}">
                {{ getNameStatus(item.isActive) }}
              </span>
            </td>
          </tr>
          <tr *ngIf="dataSource?.length == 0 || !dataSource">
            <td class="text-no-data" colspan="5">{{t('noData')}}</td>
          </tr>
        </tbody>
      </table>
      <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
        *ngIf="collectionSize > sizeOption[0]" [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
      </app-pagination>
    </div>
  </div>
</div>
<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>