@import url("../../helper-auth.scss");

:host {
  width: 100%;
  height: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}

.guide {
  width: 40%;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(177, 187, 208, 0.15);
  &-title {
    text-decoration-line: underline;
    color: var(--bs-picton-blue);
    margin-bottom: 2.5rem;
  }
  &-step {
    margin-bottom: 8rem;
  }
  &-img {
    img {
      max-width: 100%;
      object-fit: cover;
      max-height: 25rem;
    }
  }
}

.main {
  width: 60%;
}

.step {
  display: flex;
  align-items: center;
  opacity: 0.6;
  span {
    background: var(--bs-white-smoke);
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.step.active {
  opacity: 1;
  span {
    color: var(--bs-picton-blue);
    background: #d7eaff;
  }
  h4 {
    color: var(--bs-picton-blue);
  }
}

.content-main {
  width: 70%;
}

.text-auth-support {
  text-align: right;
  padding-right: 10px;
  margin-bottom: 1.5rem;
  span {
    color: #a7a8bb;
  }
  strong {
    text-decoration: underline;
  }
}

.so-auth-form {
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(239, 240, 241, 0.7);
  border-radius: 9px;
  padding: 3rem;
}

.select-language {
  top: 8% !important;
  right: 6% !important;
}

.back-to-login {
  cursor: pointer;
  .icon-back {
    background: var(--bs-picton-blue);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 16px;
      height: 18px;
    }
  }
  span:last-child {
    text-decoration: underline;
    color: var(--bs-picton-blue);
  }
}


@media (max-width: 1400px) {
  .guide-step {
    margin-bottom: 0;
  }

  .step {
    span {
      font-size: 1.5rem;
      height: 4rem;
      width: 4rem;
    }
    h4 {
      font-size: 1.4rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .content-main {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .content-main {
    width: 82%;
  }

  .select-language {
    top: 8% !important;
    right: 6% !important;
  }
}

@media (max-width: 992px) {
  .step {
    margin-bottom: 2rem !important;
    span {
      font-size: 1.3rem;
      height: 3.2rem;
      width: 3.2rem;
    }
    h4 {
      font-size: 1.4rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .content-main {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 2rem !important;
    span {
      font-size: 1.2rem;
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
    }
    h4 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1.1rem;
    }
  }

  .content-main {
    width: 100%;
  }

  .flex-column-fluid {
    flex-direction: column;

  }

  .guide {
    margin: 0 auto;
    width: 90%;
    background: none;
    box-shadow: none;
  }

  .guide .container > div {
    background: #ffffff;
    box-shadow: 0px 0px 40px rgba(177, 187, 208, 0.15);
    padding: 1.5rem 2rem;
    border-radius: 5px;
  }

  .guide-img {
    display: none;
  }

  .main {
    width: 90%;
    margin: 0 auto;
    justify-content: flex-start !important;
  }

  .select-language {
    top: 10% !important;
    right: 6% !important;
  }
}


