<div class="d-flex flex-column-fluid h-full wrapper-mobile" *transloco="let t; scope: 'auth'">
  <!-- begin:: guide-->
  <div class="guide d-flex align-items-center">
    <div class="container py-8">
      <div>
        <h3 class="guide-title so-auth-text-secondary text-big-global">{{t('auth.stepForgotPassword')}}</h3>
        <div class="guide-step so-auth-text-primary">
          <div class="step mb-10 {{step == 1 ? 'active': ''}}">
            <span class="so-auth-text-secondary">1</span>
            <div class="flex-grow-1">
              <h4 class="so-auth-text-primary">{{t('auth.step1')}}</h4>
              <p class="mb-0">{{t('auth.descStep1')}}</p>
            </div>
          </div>
          <div class="step mb-10 {{step == 2 ? 'active': ''}}">
            <span class="so-auth-text-secondary">2</span>
            <div class="flex-grow-1">
              <h4 class="so-auth-text-primary">{{t('auth.step2')}}</h4>
              <p class="mb-0">{{t('auth.descStep2')}}</p>
            </div>
          </div>
          <div class="step mb-15 {{step == 3 ? 'active': ''}}">
            <span class="so-auth-text-secondary">3</span>
            <div class="flex-grow-1">
              <h4 class="so-auth-text-primary">{{t('auth.step3')}}</h4>
              <p class="mb-0">{{t('auth.descStep3')}} </p>
            </div>
          </div>
        </div>
        <div class="guide-img">
          <img src="assets/images/png/auth/img-forgot-password.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- end:: guide -->

  <!-- begin:: form -->
  <div class="main flex-grow-1 d-flex justify-content-center flex-column position-relative">
    <!--begin::Change language -->
    <select name="change-language" id="change-language" class="so-select select-language" [(ngModel)]="lang"
      (change)="changeLanguage()">
      <ng-container *ngFor="let lang of arrLang">
        <option [value]="lang.value">
          <span>
            <img [src]="lang.img" alt="">
            {{t(lang.label)}}
          </span>
        </option>
      </ng-container>
    </select>
    <!--end::Change language -->
    <div class="container">
      <div class="mx-auto content-main">
        <p class="text-right text-auth-support text-normal-global"><span>{{t('auth.cannotManipulation')}}</span> ?
          {{t('auth.contact')}}
          <strong class="so-auth-text-secondary">1900123 </strong> {{t('auth.toHelp')}}
        </p>
        <div class="form so-form so-auth-form  w-100 fv-plugins-bootstrap5 fv-plugins-framework"
          id="kt_login_password_reset_form">
          <!--begin::Title-->
          <div class="text-center mb-10 d-flex algin-items-center mb-3 so-form-heading flex-wrap">
            <div class="logo mb-3">
              <img src="assets/images/png/auth/logo-SO.png" alt="">
            </div>
            <h1 class="form-title d-flex align-items-center flex-grow-1 mb-0 mx-3">{{t('auth.system')}} &nbsp;<a
                routerLink="/auth/forgot-password" class="link-primary fw-bolder">SchoolOnline</a></h1>
          </div>
          <!--end::Title-->
          <div class="mt-4">
            <router-outlet></router-outlet>
          </div>

        </div>
        <!--end::Form-->
      </div>
    </div>
  </div>
  <!-- end:: form -->

</div>
