<div class="bg-white p-8 h-full border-radius-bg" *transloco="let t; scope: 'school'">
  <!-- start header -->
  <div class="d-flex algin-items-center justify-content-between flex-wrap">
    <h3 class="title-compo-global mb-3">{{t('school.listSubject')}}</h3>
    <div class="filter d-flex flex-wrap algin-items-center">
      <div class="so-input-search mx-2">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" name="input-search" nz-input placeholder="{{t('school.search')}}" #searchInput
            (keydown)="search($event, searchInput.value)" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <img src="assets/images/svg/search.svg" alt="" nzType="search">
        </ng-template>
      </div>
    </div>
  </div>
  <!-- end header -->

  <!-- content -->
  <div class="mt-12">
    <table class="table-global w-full mb-4">
      <caption></caption>
      <thead>
        <th style="width: 10%;" class="text-header-table">
          {{t('STT')}}</th>
        <th style="width: 28%;" class="text-header-table">{{t('school.nameGrade')}}</th>
        <th style="width: 15%;" class="text-header-table">{{t('code')}} </th>
        <th style="width: 18%;" class="text-header-table">{{t('status')}} </th>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of arrList; let i=index">
          <tr>
            <td class="text-content-table">
              {{ i + 1}}
            </td>
            <td class="text-content-table">
              <span class="text-link fw-500">{{item.name}}</span>
            </td>
            <td>
              {{item.code}}
            </td>
            <td>
              <span class="fw-500 badge so-badge so-badge-status-{{item?.isActive}}"
              >{{item.isActive == 1 ? t('activated') : t('locked')}}</span>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="arrList?.length == 0 || !arrList">
          <td class="text-no-data" colspan="9">{{t('noData')}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- end content -->
</div>

<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
