<ng-container *transloco="let t;">
  <div class="page-not-found d-flex align-items-center ">
    <div class="set-color w-100">
      <div class="img-404 w-100">
        <img src="assets/images/png/404.png" alt="">
      </div>
      <div class="page-content w-100 d-flex align-items-center justify-content-center">
        <div class="w-50 ">
          <p>{{t('pageNotFound')}}</p>
        </div>
      </div>
      <div class="w-100">
        <img class="w-100" src="assets/images/png/group404.png" alt="">
      </div>
      <div class="page-button w-100 d-flex align-items-center justify-content-center ">
        <button (click)="backToHome()" name="btn-home">{{t('home')}}</button>
      </div>
    </div>
  </div>
</ng-container>