.separator {
  border-bottom: 1px solid #dfe5eb !important;
}

.so-menu-item {
  .so-menu-link {
    margin: 0 14px 10px 14px;
    padding: 0.8rem 1rem;
    transition: all 0.2s ease;

    .so-menu-icon {
      background-color: #FFFFFF;
      box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.05);
      border-radius: 7px;
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;
      margin-right: 15px;
    }

    .so-menu-title {
      color: #495057;
      font-size: 13px;
      font-weight: 700;
    }
  }

  .so-menu-link.active,
  .so-menu-link:hover {
    background: #FFFFFF;
    box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    color: #50a5f1;

    .so-menu-icon {
      background: #50a5f1;
      box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.1);

      img {
        filter: brightness(0) saturate(100%) invert(92%) sepia(95%) saturate(19%) hue-rotate(304deg) brightness(105%) contrast(107%);
      }
    }

    .so-menu-title {
      color: #50a5f1;
    }
  }
}

.so-menu-item.show,
.so-menu-item.hover {
  &>.so-menu-link {
    background: #FFFFFF;
    box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    color: #50a5f1;

    .so-menu-icon {
      background: #50a5f1;
      box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.1);

      img {
        filter: brightness(0) saturate(100%) invert(92%) sepia(95%) saturate(19%) hue-rotate(304deg) brightness(105%) contrast(107%);
      }
    }

    .so-menu-title {
      color: #50a5f1;
    }
  }
}

.so-menu-title-sub {
  font-size: 13px;
}

.group-item-menu-name-custom {
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 150%;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  color: #A0AEC0;
  border-bottom: 1px solid #e3e9ee !important;
}