<div *transloco="let t; scope: 'notification'">
  <form [formGroup]="formGroup" *ngIf="formGroup">
    <div class="d-flex">
      <div class="card card-flush shadow-sm p-0 style-student style-student-card-1">
        <div class="card-body py-5">
          <div class="d-flex justify-content-between align-items-center">
            <span class="fs-18 fw-700">{{t('notification.create')}}</span>
            <button id="btn-review-content" class="so-btn so-btn-primary so-btn-primary--small fs-13" (click)="openModalReviewNotification()">
              <img class="add-icon" src="assets/images/svg/eye_show.svg" alt="">
              {{t('notification.previewContent')}}
            </button>
          </div>
          <div class="mt-8">
            <div class="custom-avatar">
              <div class="symbol symbol-lg-150px symbol-fixed position-relative">
                <img [src]="avatarUser" alt="image" class="avatar">
                <div class="delete-img" (click)="onDeleteFileInputAvatar()" name="btn-onDeleteFileInputAvatar">
                  <img src="assets/images/svg/close.svg" alt="img">
                </div>
                <div class="upload-img" (click)="fileInputAvatar.click()" name="btn-fileInputAvatar">
                  <img src="assets/images/svg/icon-upload-img.svg" alt="" class="pe-1">
                  <span class="fs-12">{{t('notification.insertPhotos')}}</span>
                </div>
                <input #fileInputAvatar type="file" name="fileInputAvatar" class="d-none" value=""
                       accept="image/png, image/jpeg, image/jpg" (change)="onChangeFileInputAvatar($event)">
              </div>
            </div>
            <div class="mt-8 get-info">
              <div class="fw-700 text-label fs-14 mb-2">{{t('notification.title')}}<span
                class="text-danger">*</span></div>
              <div class="d-flex align-items-center">
                <input placeholder="{{t('notification.title')}}" type="text" name="input-title"
                       class="so-form-control form-control" formControlName="title"
                       [class.is-invalid]="formGroup.get('title').invalid && (formGroup.get('title').dirty || formGroup.get('title').touched)"
                       [class.is-invalid-server]="validationMessagesServer?.title.hasOwnProperty('message') && formGroup.get('title').invalid">
              </div>
              <div class="text-danger mt-2" *ngFor="let err of validationMessages.title">
                <app-field-error-display
                  [displayError]="formGroup.get('title').hasError(err.type) && (formGroup.get('title').dirty || formGroup.get('title').touched)"
                  errorMsg="{{ t(err.message) }}">
                </app-field-error-display>
              </div>
              <div class="text-danger mt-2" *ngIf="validationMessagesServer?.title">
                <app-field-error-display [errorServer]="validationMessagesServer?.title"
                                         [displayErrorServer]="!(formGroup.get('title').dirty || formGroup.get('title').touched)">
                </app-field-error-display>
              </div>
            </div>
            <div class="mt-8 get-info">
              <div class="fw-700 text-label fs-14 mb-2">{{t('notification.description')}}</div>
              <div class="d-flex align-items-center">
                <textarea appTextareaAutoresize name="input-description" id="desc"
                          class="so-form-control form-control" cols="20" rows="6"
                          formControlName="description"
                          placeholder="{{t('notification.enterDescription')}}">
                  {{t('notification.description')}}
                </textarea>
              </div>
            </div>
            <div class="mt-8 get-info">
              <div class="fw-700 text-label fs-14 mb-2">{{t('notification.content')}}<span
                class="text-danger">*</span></div>
              <div class="d-flex align-items-center">
                <app-ckeditor [content]="formGroup.get('content').value" (onChangeContent)="formGroup.get('content').setValue($event)"
                              class="w-full so-form-control px-0"
                              [class.is-invalid]="formGroup.get('content').invalid && (formGroup.get('content').dirty || formGroup.get('content').touched)"
                              [class.is-invalid-server]="validationMessagesServer?.content.hasOwnProperty('message') && formGroup.get('content').invalid"></app-ckeditor>
              </div>
              <div class="text-danger mt-2" *ngFor="let err of validationMessages.content">
                <app-field-error-display
                  [displayError]="formGroup.get('content').hasError(err.type) && (formGroup.get('content').dirty || formGroup.get('content').touched)"
                  errorMsg="{{ t(err.message) }}">
                </app-field-error-display>
              </div>
              <div class="text-danger mt-2" *ngIf="validationMessagesServer?.content">
                <app-field-error-display [errorServer]="validationMessagesServer?.content"
                                         [displayErrorServer]="formGroup.get('content').hasError('required') && !(formGroup.get('content').dirty || formGroup.get('content').touched)">
                </app-field-error-display>
              </div>
            </div>
            <ng-container formArrayName="files" *ngFor="let item of formGroup.get('files')['controls']; let i = index;">
              <div class="mt-8 get-info pb-2" [formGroupName]="i">
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/images/svg/icon-upload.svg" alt="" style="height: 20px">
                    <span class="ms-5">
                      {{this.getFormArrayFiles.value[i].url}}
                    </span>
                  </div>
                  <button class="btn-remote" (click)="remove(i)" name="btn-remote">
                    <img src="assets/images/svg/icon-delete.svg" alt="">
                  </button>
                </div>
              </div>
            </ng-container>
            <div class="mt-8 get-info">
              <input #uploadFile type="file" name="file" class="d-none" value=""(change)="onChangeFile($event)" multiple>
              <div class="box-upload-file cursor-pointer" (click)="uploadFile.click()" name="btn-upload-file">
                <img src="assets/images/svg/icon-upload.svg" alt="">
                <div class="d-flex flex-column align-items-center justify-content-center ms-5">
                  <span class="fw-600 color-3F4254">{{t('notification.uploadFiles')}}</span>
                  <span class="fw-500 fs-12">{{t('notification.selectMachineComputer')}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="button-footer d-flex justify-content-end">
            <button type="button" class="so-btn so-btn-cancel" data-dismiss="modal" name="btn-cancel"
                    (click)="clickCancel()">{{ t('btnAction.cancel') }}</button>
            <button type="button" class="so-btn so-btn-primary so-btn-primary--small" name="btn-submit"
                    (click)="onSubmit(formGroup.value)">{{ t('btnAction.save') }}</button>
          </div>
        </div>
      </div>
      <div class="card card-flush shadow-sm p-0 style-student style-student-card-2">
        <div class="card-body py-5">
          <div class="get-info">
            <div class="fw-700 text-label fs-14 mb-2">{{t('notification.scope')}}<span
              class="text-danger">*</span></div>
            <select (change)="onChangeSelectScope()" name="select-scope" id="scope" formControlName="sendingScope"
                    class="so-select so-form-control form-control"
                    [class.is-invalid]="formGroup.get('sendingScope').invalid && (formGroup.get('sendingScope').dirty || formGroup.get('sendingScope').touched)"
                    [class.is-invalid-server]="validationMessagesServer?.sendingScope.hasOwnProperty('message') && formGroup.get('sendingScope').invalid">
              <option [ngValue]="null">{{t('select')}}</option>
              <ng-container *ngFor="let item of dataSendingScope">
                <option [ngValue]="item.value">{{ t( item.label )}}</option>
              </ng-container>
            </select>
            <div class="text-danger mt-2" *ngFor="let err of validationMessages.sendingScope">
              <app-field-error-display
                [displayError]="formGroup.get('sendingScope').hasError(err.type) && (formGroup.get('sendingScope').dirty || formGroup.get('sendingScope').touched)"
                errorMsg="{{ t(err.message) }}">
              </app-field-error-display>
            </div>
            <div class="text-danger mt-2" *ngIf="validationMessagesServer?.sendingScope">
              <app-field-error-display [errorServer]="validationMessagesServer?.sendingScope"
                                       [displayErrorServer]="!(formGroup.get('sendingScope').dirty || formGroup.get('sendingScope').touched)">
              </app-field-error-display>
            </div>
          </div>
          <ng-container *ngIf="formGroup.get('sendingScope').value != null">
            <div class="get-info mt-8">
              <div class="fw-700 text-label fs-14 mb-4">{{t('notification.recipientGroup')}}<span
                class="text-danger">*</span></div>
              <div class="d-flex align-items-center mb-5">
                <label nz-checkbox [(ngModel)]="checkedAll" name="is-recipient-groups-all"
                       (ngModelChange)="onCheckboxChangeAll()" [ngModelOptions]="{standalone: true}">
                  <span class="fw-500">{{t('selectAll')}}</span>
                </label>
              </div>
              <div class="d-flex align-items-center row">
                <ng-container formArrayName="recipientGroups"
                              *ngFor="let item of this.getFormArrayRecipientGroups.controls; let i = index;">
                  <div class="col-6 mb-5 d-flex align-items-center" [formGroupName]="i">
                    <label nz-checkbox name="is-recipient-groups" formControlName="checked"
                           (change)="onCheckboxChange()" (click)="onCheckboxChange()">
                    </label>
                    <span class="fw-500 ms-3">{{t(this.getFormArrayRecipientGroups.value[i].name)}}</span>
                  </div>
                </ng-container>
              </div>
              <div>
                <!--              <span class="text-danger" >-->
                <!--                {{t('notification.selectGroupRecipients')}}-->
                <!--              </span>-->
                <div class="text-danger mt-2" *ngIf="checkedNumberTrue === 0">
                  <app-field-error-display
                    [displayError]="true"
                    errorMsg="{{t('notification.selectGroupRecipients')}}">
                  </app-field-error-display>
                </div>
              </div>
            </div>
            <div class="get-info mt-8" *ngIf="formGroup.get('sendingScope').value != 1">
              <div class="fw-700 text-label fs-14 mb-2">{{t(labelObject)}} <span class="text-danger">*</span></div>
              <nz-select id="select-search-scope-noti" class="form-control so-form-control fs-13" name="select-object" nzMode="multiple" formControlName="objectIds"
                         [nzPlaceHolder]="t('chooseOption')" [class.is-invalid]="formGroup.get('objectIds').invalid && (formGroup.get('objectIds').dirty || formGroup.get('objectIds').touched)"
                         [class.is-invalid-server]="validationMessagesServer?.objectIds.hasOwnProperty('message') && formGroup.get('objectIds').invalid">
                <nz-option *ngFor="let option of dataSendList" [nzLabel]="option.name" [nzValue]="option.id">
                </nz-option>
              </nz-select>
              <div>
                <div class="text-danger mt-2" *ngFor="let err of validationMessages.objectIds">
                  <app-field-error-display
                    [displayError]="formGroup.get('objectIds').hasError(err.type) && (formGroup.get('objectIds').dirty || formGroup.get('objectIds').touched)"
                    errorMsg="{{ t(err.message) }}">
                  </app-field-error-display>
                </div>
                <div class="text-danger mt-2" *ngIf="validationMessagesServer?.objectIds">
                  <app-field-error-display [errorServer]="validationMessagesServer?.objectIds"
                                           [displayErrorServer]="!(formGroup.get('objectIds').dirty || formGroup.get('objectIds').touched)">
                  </app-field-error-display>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="get-info mt-8">
            <nz-radio-group formControlName="sendNow" class="mb-5" name="is-send-now">
              <label nz-radio [nzValue]="2" class="fw-700">{{t('notification.scheduleSending')}}</label>
              <label nz-radio [nzValue]="1" class="fw-700">{{t('notification.sendNow')}}</label>
            </nz-radio-group>
            <app-single-date-picker *ngIf="formGroup.get('sendNow').value === 2" id="birthday"
                                    [currentDate]="this.formGroup.get('sendAt').value" [timePicker]="timePicker"
                                    (dataTimeOutput)="dataTimeOutput($event)" [minDate]="minDate"></app-single-date-picker>
          </div>
          <div class="get-info mt-8">
            <div class="d-flex align-items-center">
              <label nz-checkbox formControlName="isAllowComment" name="is-allowComment">
                <span class="fw-700 text-label fs-14">{{t('notification.allowFeedback')}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>



<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>


