

<div class="card card-flush shadow-sm p-0 h-full" *transloco="let t; scope: 'role'">
  <div class="card-header">
    <h3 class="card-title fs-18 fw-700">{{t('role.listRole')}}</h3>
    <div class="card-toolbar">
      <div class="filter d-flex flex-wrap align-items-center">
        <select name="status" id="" [(ngModel)]="layoutCode" class="so-select me-4 mb-3" (ngModelChange)="filter()">
          <option [value]="''">{{t('role.selectLayout')}}</option>
          <ng-container *ngFor="let layout of arrLayouts">
            <option [value]="layout.code">{{layout.name}}</option>
          </ng-container>
        </select>

        <div class="so-input-search me-4 mb-3">
          <input type="text" placeholder="{{ t('role.search') }}" #searchInput name="input-search"
          (keydown)="search($event, searchInput.value)">
          <img src="assets/images/svg/search.svg" alt="" nzType="search" (click)="searchClickIcon(searchInput.value)"/>
        </div>

        <ng-template ngxPermissionsOnly="{{ permission.role_modify }}">
          <button class="so-btn so-btn-primary so-btn-primary--small mb-3" (click)="create()" name="btn-create">
            <img src="assets/images/svg/add.svg" alt="">
            {{t('btnAction.add')}}
          </button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card-body py-5 pt-0">
    <div class="table-responsive">
      <table class="table w-full mb-4 table-row-bordered table-row-gray-300 so-tabel">
        <caption></caption>
        <thead>
          <tr class="fs-14 fw-700 text-color-river-bed">
            <th class="w-5 text-center">
              {{t('STT')}}</th>
            <th class="w-18"> {{t('role.nameRole')}}</th>
            <th class="w-12"> {{t('role.codeRole')}} </th>
            <th class="w-18"> {{t('role.layout')}} </th>
            <th class="w-10 text-center"> {{t('user')}} </th>
            <th class="w-10 text-center"> {{t('permission')}} </th>
            <th class="w-20"> {{t('description')}} </th>
            <ng-template ngxPermissionsOnly="{{ permission.role_modify }}">
              <th class="w-13 text-center"> {{t('action')}} </th>
            </ng-template>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of arrRole; let i=index">
            <tr class="fs-13 fw-600 text-color-river-bed">
              <td class="text-center">
                {{isLoading ? (oldPageIndex-1)*pageSize + i + 1 : (pageIndex-1)*pageSize + i + 1}}
              </td>
              <td>
                <span class="cursor-pointer text-link fw-700" [routerLink]="item.id"
                  [queryParams]="{tab: 1}">{{item.name}}</span>
              </td>
              <td>
                {{item.code}}
              </td>
              <td>
                {{mapNameLayout(item.layout)}}
              </td>
              <td class="text-center">
                <span class="badge so-badge so-badge--primary cursor-pointer" (click)="viewModalListUser(item.id)"
                  name="view-list">{{item.userNumber}}</span>
              </td>
              <td class="text-center">
                <span class="badge so-badge so-badge--primary cursor-pointer" (click)="viewModalListPermission(item.id)"
                  name="view-list">{{item.permissionNumber}}</span>
              </td>
              <td>
                {{item.description}}
              </td>
              <ng-template ngxPermissionsOnly="{{ permission.role_modify }}">
                <td class="text-center">
                  <div class="d-flex justify-content-center">
                    <span nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click"
                      class="so-action" name="btn-open-menu">
                      <img src="assets/images/svg/three_vertical_dot_icon.svg" alt="" class="so-action--icon-opend">
                    </span>
                  </div>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item (click)="updateRole(item)" class="fs-13 fw-600 text-color-river-bed"
                        name="btn-update-role">
                        <img src="assets/images/svg/write.svg" alt="" class="so-action--icon">
                        {{t('btnAction.update')}}
                      </li>
                      <li nz-menu-item (click)="delete(item?.id, item?.name)"
                        class="fs-13 fw-600 text-danger" name="btn-delete">
                        <img src="assets/images/svg/icon-delete.svg" alt="" class="so-action--icon">
                        {{t('btnAction.delete')}}
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </ng-template>
            </tr>
          </ng-container>
          <tr *ngIf="arrRole?.length == 0 || !arrRole">
            <td class="text-no-data" colspan="7">{{t('noData')}}</td>
          </tr>
        </tbody>
      </table>

      <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
        *ngIf="collectionSize > sizeOption[0]" [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
      </app-pagination>
    </div>
  </div>
</div>

<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
