<div class="row g-5 g-xl-10 mb-5 mb-xl-10" *transloco="let t; scope: 'school-year'">
  <div class="col-xl-12">
    <div class="card card-flush h-md-100">
      <div class="card-header pt-7">
        <h3 class="card-title d-flex align-items-start flex-column">
          <span class="card-label fs-18 fw-700">{{ t('schoolYear.schoolYear') }}</span>
        </h3>
        <div class="card-toolbar">
          <div class="w-100 d-flex justify-content-between align-items-center">
            <div class="w-100 d-flex justify-content-end align-items-center custom-search">
              <div class="search-select-option">
                <select (change)="onChangeStatus()" [(ngModel)]="status" name="status"
                  class="form-select custom-select text-start form-select form-select-solid form-select-lg text-formcontrol-global fs-14">
                  <option value="" selected>{{t('status')}}</option>
                  <option value="{{ item.id }}" *ngFor="let item of schoolYearStatus">{{ item.name }}</option>
                </select>
              </div>
              <div class="search-input">
                <input type="text" name="keyword" class="form-control custom-tag-of-form fs-14" #searchInput
                  placeholder="{{ t('search') }}" (keyup.enter)="onEventKeyupEnter(searchInput.value)">
                <img class="search-icon" src="assets/images/svg/search.svg" alt=""
                  (click)="onClickSearch(searchInput.value)">
              </div>
              <ng-template ngxPermissionsOnly="{{ permission.school_year_manager }}">
                <span class="add-action d-flex justify-content-center align-items-center fs-14"
                  (click)="getDataRelationship()">
                  <img class="add-icon" src="assets/images/svg/plus.svg" alt="">
                  {{ t('btnAction.add') }}
                </span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body pt-6">
        <div class="table-responsive">
          <table class="table align-middle gs-0 gy-3 my-0">
            <thead>
              <tr class="fs-14 fw-700 border-bottom border-gray-200">
                <th class="pb-3 text-start" style="width: 5%;">
                  {{ t('schoolYear.stt') }}
                </th>
                <th class="pb-3 text-start" style="width: 55%;">
                  {{ t('schoolYear.name') }}
                </th>
                <th class="pb-3 text-center" style="width: 15%;">
                  {{ t('schoolYear.setting') }}
                </th>
                <th class="pb-3 text-center" style="width: 15%;">
                  {{ t('status') }}
                </th>
                <th class="pb-3 text-center" style="width: 10%;">
                  {{ t('action') }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataSource, let index=index">
                <td class="text-start fs-13 fw-600">
                  {{ index + 1 }}
                </td>
                <td class="text-start fs-13 fw-600">
                  <span [routerLink]="['/tenant/school-year/detail', item.id]" class="d-block pb-2 cursor-pointer">
                    <span class="pe-4">{{ item.name }}</span>
                    <span class="color-50a5f1">({{ item.code }})</span>
                  </span>
                  <span class="d-block color-979797">
                    {{ t('schoolYear.from') }}
                    <span class="color-50a5f1 fs-13">{{ item.startDate | formatTime }}</span>
                    {{ t('schoolYear.to') }}
                    <span class="color-50a5f1 fs-13">{{ item.endDate | formatTime }}</span>
                  </span>
                </td>
                <td class="text-center fs-13 fw-500">
                  <span class="d-block pb-2">
                    <span class="fw-700 fs-12">{{ t('schoolYear.inputScore') }}</span>
                  </span>
                  <span class="d-block color-979797">
                    <img class="pe-1" *ngIf="item.isLockGradebookInput == 1" src="assets/images/svg/lock11.svg" alt="">
                    <img class="pe-1" *ngIf="item.isLockGradebookInput == 0" src="assets/images/svg/lock10.svg" alt="">
                    <span *ngIf="item.isLockGradebookInput == 1" class="text-danger fs-13">{{ t('schoolYear.lockTrue')
                      }}</span>
                    <span *ngIf="item.isLockGradebookInput == 0" class="color-50a5f1 fs-13">{{ t('schoolYear.lockFalse')
                      }}</span>
                  </span>
                </td>
                <td class="text-center d-flex align-items-center justify-content-center fs-12">
                  <span class="status-{{item.status}}">{{ getStatusName(item.status) }}</span>
                </td>
                <td class="text-center">
                  <span class="department-action">
                    <img nz-button nz-dropdown [nzDropdownMenu]="menu" class="action-icon"
                      src="assets/images/svg/three_vertical_dot_icon.svg" alt="">
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                      <ng-template ngxPermissionsOnly="{{ permission.school_year_manager }}">
                        <ul nz-menu>
                          <li nz-menu-item class="fs-13 fw-600 custom-action-item"
                            (click)="getDataRelationship(item, true)">
                            <span>
                              <img class="action-icon pe-3" src="assets/images/svg/write_1_.svg" alt="">
                              {{ t('btnAction.update') }}
                            </span>
                          </li>
                          <li nz-menu-item class="fs-13 fw-600 custom-action-item"
                            (click)="openModalUpdateGradebookInput(item)">
                            <span>
                              <img class="action-icon pe-3" src="assets/images/svg/fluent_document-lock-16-filled.svg"
                                alt="">
                              {{ item.isLockGradebookInput === 0 ? t('schoolYear.lockGradebook') :
                              t('schoolYear.noLockGradebook') }}
                            </span>
                          </li>
                          <li nz-menu-item class="fs-13 fw-600 custom-action-item" (click)="openModalDelete(item)">
                            <span>
                              <img class="action-icon pe-3" src="assets/images/svg/delete.svg" alt="">
                              {{ t('btnAction.delete') }}
                            </span>
                          </li>
                        </ul>
                      </ng-template>
                    </nz-dropdown-menu>
                  </span>
                </td>
              </tr>
              <tr *ngIf="dataSource?.length == 0 || !dataSource">
                <td class="text-no-data" colspan="10">{{t('noData')}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
          *ngIf="collectionSize > pageSize" [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
        </app-pagination>
      </div>
    </div>
  </div>
</div>
<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>