<div class="card style-menu-manager" *transloco="let t; scope: 'module-manager'">
  <div class="card-header-custom border-0 p-5">
    <div class="w-100 d-flex justify-content-between align-items-center">
      <div class="title-content  mb-3">
        <span class="fs-18 fw-700">Danh sách menu</span>
      </div>
      <div class="d-flex justify-content-end align-items-center custom-search">
        <div class="search-input">
          <input name="input-search-menu" type="text" class="form-control custom-tag-of-form fs-14"
            placeholder="Nhập tên, mã menu" (keyup)="checkChangeKeywordSerach($event)">
          <img class="search-icon" src="assets/images/svg/search.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="card-body-custom pt-0 mt-6">
    <table class="table align-middle table-global">
      <thead>
        <tr class="text-center">
          <th class="fs-14 fw-700 color-thhead text-left-th" style="width: 5%;">
            STT
          </th>
          <th class="fs-14 fw-700 color-thhead text-left-th" style="width: 15%;">
            Gói menu
          </th>
          <th class="fs-14 fw-700 color-thhead text-left-th" style="width: 15%;">
            Mã menu
          </th>
          <th class="fs-14 fw-700 color-thhead text-left-th" style="width: 15%;">
            Số lượng trường áp dụng
          </th>
          <th class="fs-14 fw-700 color-thhead text-left-th" style="width: 40%;">
            Layout áp dụng
          </th>
          <th class="fs-14 fw-700 color-thhead" style="width: 10%;">
            Hoạt động
          </th>
        </tr>
      </thead>
      <tbody class="fw-bold text-gray-600" *ngIf="dataSource && dataSource.length > 0">
        <tr *ngFor="let item of dataSource;let i = index">
          <td class="color-td fs-16 fw-400">{{ item.indexOrder }}</td>
          <td class="color-td fs-11 fw-700" id="view-detail-menu" (click)="viewDetailMenu(item)">
            <span class="menu-manager-name">
              11111
            </span>
          </td>
          <td class="color-td fs-16 fw-500 menu-code">
            22222
          </td>
          <td class="color-td fs-16 fw-700 school-apply">
            33333
          </td>
          <td class="color-td fs-16 fw-600 layout-apply">
            44444
          </td>
          <td class="color-td text-center">
            <span class="menu-action">
              <img nz-button [nzTrigger]="'click'" nz-dropdown [nzDropdownMenu]="menu" class="action-icon" src="assets/images/svg/three_vertical_dot_icon.svg" alt="">
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <!-- <ng-template ngxPermissionsOnly="{{ permission.student_modify }}"> -->
                  <ul nz-menu>
                    <li nz-menu-item class="fs-14 fw-600 custom-action-item">
                      <span>
                        <img class="action-icon pe-3" src="assets/images/svg/write.svg" alt="">
                        Cập nhật
                      </span>
                    </li>
                    <li nz-menu-item class="fs-14 fw-600 custom-action-item">
                      <span>
                        <img class="action-icon pe-3" src="assets/images/svg/assign_icon.svg" alt="">
                        Gán menu cho trường
                      </span>
                    </li>
                  </ul>
                <!-- </ng-template> -->
              </nz-dropdown-menu>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>