.so-badge-status-0 {
  background: var(--bs-carrot-orange);
}

.so-badge-status-1 {
  background: var(--bs-greenish-teal);
}

.so-badge-status-2 {
  background: var(--bs-bittersweet);
}

.info-user {
  > img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    margin-right: 15px;
  }
  > div {
    color: #828282;
    h4 {
      color: #3F4254;
      font-size: 1.3rem;
    }
  }
}

.color-828282 {
  color: #828282;
}

.color-50a5f1 {
  color: var(--bs-picton-blue);
}
