.card-custom {
    padding-left: 3rem;
}

.custom-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    button {
        margin-right: 2rem
    }
}

.top {
    display: block;
    padding-bottom: 1rem;
}

@media (min-width: 630px) {
    .top {
        display: flex;
    }
}

.card-body {
    .top-info {
        display: block;
    }

    .process-card {
        display: block;

        .text-label {
            width: auto;
            min-width: 130px;
        }

        .process-label {
            flex-grow: 1;
        }
    }

    .gender {
        margin-left: 1rem;
        background-color: #C6EFFF;
        border-radius: 5px;
        padding: 3px 24px;
        color: #50A5F1;
    }

    @media (min-width: 1150px) {
        .top-info {
            display: flex;
        }

        .process-card {
            display: flex;

            .progress {
                margin-right: 2rem;
            }
        }
    }

    h4 {
        margin-bottom: 2rem;
    }

    img {
        filter: brightness(0) saturate(100%) invert(70%) sepia(39%) saturate(5637%) hue-rotate(184deg) brightness(101%) contrast(89%);
        width: 15px;
        height: 15px;
        margin-right: 0.5rem;
    }

    .label {
        margin-bottom: 2rem;
        margin-right: 4rem;
    }
}

.general-info {
    img {
        filter: brightness(0) saturate(100%) invert(70%) sepia(39%) saturate(5637%) hue-rotate(184deg) brightness(101%) contrast(89%);
        width: 15px;
        height: 15px;
        margin-right: 0.5rem;
    }

    .label-info {
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: 1px solid #EFF2F5;
    }

    .group {
        padding-bottom: 2rem;
    }

    .address {
        min-width: 120px;
    }

}