.main-content {
  h3 {
    font-size: 1.6rem;
    color: var(--bs-picton-blue);
    line-height: 1.5;
    margin-bottom: 10px;
  }
  textarea {
    background: #f5f8fa;
    border-radius: 5px;
    width: 100%;
    border: none;
    padding: 1rem 1.5rem;
    outline: none;
    &:focus {
      border-color: #40a9ff !important;
      box-shadow: 0 0 0 2px rgb(24 144 255 / 20%) !important;
      border-right-width: 1px !important;
      outline: none;
    }
  }
}

.img {
  display: flex;
    align-items: center;
    justify-content: center;
    max-height: 30rem;
    height: 30rem;
    img {
      height: 100%;
      object-fit: cover;
    }
}
