<div class="card card-flush shadow-sm p-0 h-full" *transloco="let t; scope: 'student-records'">
  <div class="card-header">
    <h3 class="card-title fs-18 fw-700">{{t('studentRecords.recordsDone')}}</h3>
    <div class="card-toolbar">
      <div class="filter d-flex flex-wrap align-items-center">
        <select name="cate" id="" [(ngModel)]="classId" class="so-select me-4 mb-3 fw-600" (ngModelChange)="filter()">
          <option [value]="''">{{t('class')}}</option>
          <ng-container *ngFor="let class of arrClasses">
            <option [value]="class.id">{{class.name}}</option>
          </ng-container>
        </select>

        <select name="status" id="" [(ngModel)]="statusRecords" class="so-select me-4 mb-3 fw-600" (ngModelChange)="filter()">
          <option [value]="''">{{t('status')}}</option>
          <ng-container *ngFor="let status of arrStatus">
            <option [value]="status.value">{{t(status.label)}}</option>
          </ng-container>
        </select>

        <div class="so-input-search mb-3 fw-600">
          <input type="text" placeholder="{{t('studentRecords.search')}}" #searchInput name="input-search"
            (keydown)="search($event, searchInput.value)">
          <img src="assets/images/svg/search.svg" alt="" nzType="search" (click)="searchClickIcon(searchInput.value)"/>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body py-5 pt-0">
    <div class="table-responsive">
      <table class="table table-row-bordered table-row-gray-300 w-full mb-4 so-table-th-custom--grey">
        <caption></caption>
        <thead>
          <tr class="fs-14 fw-700 text-color-river-bed">
            <th class="text-center w-4"> {{t('STT')}}</th>
            <th class="w-13"> {{t('studentRecords.nameRecord')}}</th>
            <th class="w-13"> {{t('student')}}</th>
            <th class="w-10"> {{t('studentRecords.categoryRecords')}} </th>
            <th class="w-10"> {{t('studentRecords.createdAt')}} </th>
            <th class="w-10"> {{t('studentRecords.createdByName')}} </th>
            <th class="w-10"> {{t('status')}} </th>
            <th class="w-13"> {{t('studentRecords.fileAttachs')}} </th>
            <th class="w-10"> {{t('btnAction.approve')}} </th>
            <ng-template ngxPermissionsOnly="{{ permission.student_file_user_modify }}">
              <th class="text-center w-7"></th>
            </ng-template>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of arrList; let i=index">
            <tr class="fs-13 fw-600 text-color-river-bed">
              <td class="text-center fw-700">
                {{isLoading ? (oldPageIndex-1)*pageSize + i + 1 : (pageIndex-1)*pageSize + i + 1}}
              </td>
              <td class="fw-700">
                {{item?.fileUserName}}
                <span class="icon-mark" *ngIf="item.isImportant == 1">
                  <img src="assets/images/svg/icon-mark.svg" alt="">
                </span>
              </td>
              <td>
                <span class="d-block fw-700">{{item.studentName}}</span>
                <span class="d-block color-secondary-text fs-13 fw-500">{{t('code')}}: {{item.code}}</span>
              </td>
              <td class="fw-700">
                {{item?.fileCategoryName}}
              </td>
              <td class="fw-700 text-link">
                {{item?.createdAt | formatTime}}
              </td>
              <td class="fw-700">
                {{item?.createdBy}}
              </td>
              <td>
                <span class="badge so-badge so-badge-status so-badge-status-{{item?.approveStatus}}">
                  {{t(item?.approveStatusName)}}
                </span>
              </td>
              <td>
                <ng-container *ngFor="let file of item?.fileAttachs">
                  <div class="d-flex fs-12 fw-600 mb-2 align-items-start">
                    <img src="assets/images/svg/icon-attached-files.svg" class="me-1 mt-1" alt="">
                    <a href="{{file?.url}}" target="_blank" class="text-underline">{{file?.name}}</a>
                  </div>
                </ng-container>
              </td>
              <td>
                <div class="d-flex flex-wrap">
                  <span class="so-badge so-badge-action so-badge-action--approve me-3 mb-2" id="btn-approve"
                    (click)="changeStatusRecords(item, 'approve')"
                    *ngIf="item?.approveStatus != constStatusRecords.APPROVED">
                    <img src="assets/images/svg/icon-check-square-white.svg" alt="">
                    {{t('btnAction.approve')}}
                  </span>
                  <span class="so-badge so-badge-action so-badge-action--refuse mb-2" id="btn-refuse"
                    (click)="changeStatusRecords(item, 'refuse')"
                    *ngIf="item?.approveStatus != constStatusRecords.REFUSE">
                    <img src="assets/images/svg/icon-close-white.svg" alt="">
                    {{t('btnAction.refuse')}}
                  </span>
                </div>
              </td>
              <ng-template ngxPermissionsOnly="{{ permission.student_file_user_modify }}">
                <td class="text-center">
                  <span nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click" class="so-action" name="btn-open-menu">
                    <img src="assets/images/svg/three_vertical_dot_icon.svg" alt="" class="so-action--icon-opend">
                  </span>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item (click)="openModalUpdate(item)" class="fs-13 fw-600 text-color-river-bed"
                        name="btn-update-role">
                        <img src="assets/images/svg/write.svg" alt="" class="so-action--icon">
                        {{t('btnAction.update')}}
                      </li>
                      <li nz-menu-item (click)="changeMarkRecords(item, 'mark')" *ngIf="item?.isImportant == 0"
                        class="fs-13 fw-600 text-color-river-bed" name="btn-update-role">
                        <img src="assets/images/svg/icon-mark-blue.svg" alt="" class="so-action--icon">
                        {{t('btnAction.markImportantRecords')}}
                      </li>
                      <li nz-menu-item (click)="changeMarkRecords(item, 'unmark')" *ngIf="item?.isImportant == 1"
                        class="fs-13 fw-600 text-color-river-bed" name="btn-update-role">
                        <img src="assets/images/svg/icon-mark-blue.svg" alt="" class="so-action--icon">
                        {{t('btnAction.unmarkImportantRecords')}}
                      </li>
                      <li nz-menu-item (click)="delete(item?.fileUserId, item?.fileUserName)"
                        class="fs-13 fw-600 text-danger" name="btn-delete">
                        <img src="assets/images/svg/icon-delete2.svg" alt="" class="so-action--icon">
                        {{t('btnAction.delete')}}
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </ng-template>
            </tr>
          </ng-container>
          <tr *ngIf="arrList?.length == 0 || !arrList">
            <td class="text-no-data" colspan="10">{{t('noData')}}</td>
          </tr>
        </tbody>
      </table>

      <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
        *ngIf="collectionSize > sizeOption[0]" [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
      </app-pagination>
    </div>
  </div>
</div>

<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
