.so-badge-status-0 {
  background: var(--bs-carrot-orange);
}

.so-badge-status-1 {
  background: var(--bs-greenish-teal);
}

.so-badge-status-2 {
  background: var(--bs-bittersweet);
}

.color-secondary-text {
  color: #B5B5C3;
}
