.column-left {
  padding-right: 15px;
  border-right: 1px solid #e6e2e2;
  width: 18%;
  span img {
    width: 15px;
    height: 13px;
    margin-right: 7px;
    font-size: 15px;
    line-height: 15px;
  }
  h3 {
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 30px;
  }
}

.column-right {
  padding-left: 15px;
  flex-grow: 1;
  width: 82%;
}

.so-tab-column {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    padding: 5px;
  }
  a {
    color: #495057;
  }
  span {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
  }

  a.active {
    color: #50a5f1;
  }

  li.active {
    a {
      color: #50A5F1;
    }
  }
}
