<div class="card card-flush p-0" *transloco="let t; scope: 'user'">
  <div class="card-header">
    <h3 class="card-title fs-18 fw-700">{{ t('user.title') }}</h3>
    <div class="card-toolbar">
      <div class="filter d-flex flex-wrap align-items-center">
        <div class="w-100 filter d-flex flex-wrap align-items-center justify-content-end custom-search">
          <button class="so-btn so-btn-light so-btn-light--small me-4 mb-3 fw-700 text-color-blue-lotus"
            name="btn-export">
            <img class="pe-2" src="assets/images/svg/export.svg" alt="">
            Export
          </button>
          <button class="so-btn so-btn-light so-btn-light--small me-4 mb-3 fw-700 text-color-blue-lotus"
            name="btn-import">
            <img class="pe-2" src="assets/images/svg/import6.svg" alt="">
            Import
          </button>
          <div class="search-select-option-school mb-3">
            <select [(ngModel)]="valueDefaultSchool" (change)="onChangeSchool()" class="so-form-control so-select">
              <option value="" selected>{{ t('user.school') }}</option>
              <option value="{{item.id}}" *ngFor="let item of schoolList">{{item.name}}</option>
            </select>
          </div>
          <div class="search-select-option mb-3">
            <select (change)="onChangeStatus()" [(ngModel)]="isActive" class="so-form-control so-select">
              <option value="" selected>{{ t('status') }}</option>
              <option value="1">{{ t('user.active') }}</option>
              <option value="0">{{ t('user.noActive') }}</option>
            </select>
          </div>
          <div class="so-input-search me-4 mb-3">
            <input type="text" placeholder="{{ t('search') }}" #searchInput name="input-search"
              (keyup.enter)="onEventKeyupEnter(searchInput.value)">
            <img src="assets/images/svg/search.svg" alt="" nzType="search" (click)="onClickSearch(searchInput.value)" />
          </div>
          <ng-template ngxPermissionsOnly="{{ permission.user_modify }}">
            <button [routerLink]="['/tenant/user/create']" class="so-btn so-btn-primary so-btn-primary--small mb-3"
              name="btn-create">
              <img src="assets/images/svg/add.svg" alt="">
              {{t('btnAction.add') }}
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body py-5 pt-0">
    <div class="table-responsive">
      <table class="table table-row-bordered table-row-gray-300">
        <caption></caption>
        <thead>
          <tr class="fs-14 text-color-river-bed">
            <th class="text-center w-5 fw-700">
              {{ t('user.order') }}
            </th>
            <th class="fw-700 w-20">
              {{ t('user.fullName') }}
            </th>
            <th class="fw-700 w-8">
              {{ t('gender') }}
            </th>
            <th class="fw-700 w-10">
              {{ t('user.username') }}
            </th>
            <th class="fw-700 w-10">
              {{ t('status') }}
            </th>
            <th class="fw-700 w-10">
              {{ t('email') }}
            </th>
            <th class="fw-700 w-10">
              {{ t('user.phone') }}
            </th>
            <th class="text-center fw-700 w-10">
              {{ t('role') }}
            </th>
            <th class="fw-700 w-8">
              {{ t('user.login') }}
            </th>
            <th class="fw-700 w-6">
              {{ t('user.password') }}
            </th>
            <th class="fw-700 w-3">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSource;let i = index" class="text-color-river-bed">
            <td class="text-center">
              {{isLoading ? (oldPageIndex-1)*pageSize + i + 1 : (pageIndex-1)*pageSize + i + 1}}
            </td>
            <td class="text-start 3 fw-600">
              <div class="d-flex align-items-center">
                <div class="symbol symbol-50px me-3">
                  <img *ngIf="item.avatar" src="{{ item.avatar }}" class="border-radius-50" alt="">
                  <img *ngIf="!item.avatar" [src]="avatar" class="border-radius-50" alt="">
                </div>
                <div class="d-flex justify-content-start flex-column">
                  <a [routerLink]="['/tenant/user/detail', item.id]" class="fw-700 color-50a5f1 mb-1 fs-13">{{
                    item.fullname }}</a>
                  <span class="d-block fs-12">
                    <span class="color-50a5f1">ID: </span>
                    <span>{{ item.code }}</span>
                  </span>
                </div>
              </div>
            </td>
            <td class="text-start fs-12 fw-500">
              <span class="{{ item.gender == 1 ? 'gender-male' : item.gender == 2 ? 'gender-fmale' : 'gender-other' }}">
                {{ item.gender == arrGender[0].id ? t('genderName.male') : (item.gender == arrGender[1].id ?
                t('genderName.female') : t('genderName.other'))}}
              </span>
            </td>
            <td class="text-start fs-13 fw-700">
              <span>{{ item.username }}</span>
            </td>
            <td class="text-start fs-12 fw-500">
              <span
                class="badge so-badge {{ item.isActive == 1 ? 'badge-primary so-badge--primary' : 'badge-danger so-badge--danger' }}">
                {{ item.isActive == 1 ? t('user.active') : t('user.noActive') }}
              </span>
            </td>
            <td class="text-start fs-13 fw-700">
              <div class="d-flex align-items-center">
                <img class="action-icon pe-2" src="assets/images/svg/email6.svg" alt="">
                <span>{{ item.email }}</span>
              </div>
            </td>
            <td class="text-start fs-13 fw-700">
              <div class="d-flex align-items-center">
                <img class="action-icon pe-2" src="assets/images/svg/phone6.svg" alt="">
                <span>{{ item.phone }}</span>
              </div>
            </td>
            <td class="text-center fs-12 fw-500">
              <span class="badge so-badge badge-primary so-badge--primary so-pointer" (click)="openModalRoleList(item)">
                {{ item.roleNumber }}
              </span>
            </td>
            <td class="text-start fs-13 fw-700">
              <span class="{{ item.isLogin == 1 ? 'text-color-picton-blue' : '' }} ">
                {{ item.isLogin == 1 ? t('user.loginTrue') : t('user.loginFalse') }}
              </span>
            </td>
            <td class="text-start fs-13 fw-700">
              <span class="{{ item.isChangePassword ? 'text-color-picton-blue' : '' }}">
                {{ item.isChangePassword == 1 ? t('user.passwordTrue') : t('user.passwordFalse') }}
              </span>
            </td>
            <td class="text-center">
              <span class="so-action" nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
                name="opend-so-action">
                <img class="so-action--icon-opend" src="assets/images/svg/three_vertical_dot_icon.svg" alt="">
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ng-template ngxPermissionsOnly="{{ permission.user_modify }}">
                    <ul nz-menu>
                      <li nz-menu-item class="fs-13 fw-600 text-color-river-bed"
                        [routerLink]="['/tenant/user/edit', item.id]">
                        <span>
                          <img class="action-icon pe-3" src="assets/images/svg/write.svg" alt="">
                          {{ t('btnAction.update') }}
                        </span>
                      </li>
                      <li nz-menu-item class="fs-13 fw-600 text-color-river-bed"
                        (click)="openModalChangePassword(item)">
                        <span>
                          <img class="action-icon pe-3" src="assets/images/svg/password.svg" alt="">
                          {{ t('user.btnAction.changedPassword') }}
                        </span>
                      </li>
                      <li nz-menu-item class="fs-13 fw-600 text-color-river-bed" (click)="openModalUpdateStatus(item)">
                        <span *ngIf="item.isActive == 0">
                          <img class="action-icon pe-3" src="assets/images/svg/lock_open_alt.svg" alt="icon">
                          {{ t('user.active') }}
                        </span>
                        <span *ngIf="item.isActive == 1">
                          <img class="action-icon pe-3" src="assets/images/svg/lock11.svg" alt="icon">
                          {{ t('user.locked') }}
                        </span>
                      </li>
                      <li nz-menu-item class="fs-13 fw-600 text-color-river-bed" (click)="openModalConfirmDelete(item)">
                        <span>
                          <img class="action-icon pe-3" src="assets/images/svg/delete6.svg" alt="">
                          {{ t('btnAction.delete') }}
                        </span>
                      </li>
                    </ul>
                  </ng-template>
                </nz-dropdown-menu>
              </span>
            </td>
          </tr>
          <tr *ngIf="dataSource?.length == 0 || !dataSource">
            <td class="text-no-data" colspan="10">{{t('noData')}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
      *ngIf="collectionSize > pageSize" [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
    </app-pagination>
  </div>
</div>
<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>