<ng-container *transloco="let t; scope: 'student-records'">
  <form #form="ngForm" [formGroup]="formSubmit">
    <div class="modal-header">
      <h5 class="title-modal-global">{{t(dataModal?.titleModal)}}</h5>
      <button type="button" class="close modal-btn-close" data-dismiss="modal" (click)="closeModal(false)"
        name="icon-close" [hidden]="dataModal?.isHiddenBtnClose">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row mb-6">
        <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2">
          <label for="name" class="fw-700 mt-3">{{t('studentRecords.nameRecord')}} <span class="text-danger">*</span>
          </label>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10 col-xl-10">
          <div class="so-form-group">
            <input type="text" id="name" name="name" placeholder="{{t('studentRecords.enterNameRecords')}}"
              formControlName="name" class="so-form-control form-control">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: t('requiredName'),
              control: formSubmit.controls['name']
              }">
            </ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message: t('maxLengthName'),
              control: formSubmit.controls['name']
              }">
            </ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'notEmpty',
              message: t('requiredName'),
              control: formSubmit.controls['name']
              }">
            </ng-container>
          </div>
        </div>
      </div>

      <div class="row mb-6">
        <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2">
          <label for="cate" class="fw-700 mt-3">{{t('studentRecords.categoryRecords')}} <span
              class="text-danger">*</span> </label>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10 col-xl-10">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="so-form-group w-90">
                <select name="cate" id="cate" class="select-cate so-form-control form-control"
                  formControlName="categoryId">
                  <option [value]="''">{{t('studentRecords.categoryRecords')}}</option>
                  <ng-container *ngFor="let cate of arrCategories">
                    <option [value]="cate.id">{{cate.name}}</option>
                  </ng-container>
                </select>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'notNull',
                  message: t('studentRecords.requiredCategory'),
                  control: formSubmit.controls['categoryId']
                  }">
                </ng-container>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <label nz-checkbox class="so-checkbox fw-700" name="checkbox-send-noti" [nzValue]="null"
                formControlName="isSendNoti">
                {{t('studentRecords.sendNoti')}}
              </label>
            </div>
          </div>
        </div>
      </div>

      <hr class="so-hr">
      <div class="mt-6" formArrayName="fileAttachs">
        <ng-container *ngFor="let item of getFormArray.controls; let i = index;">
          <div class="row mb-6" [formGroupName]="i">
            <div class="col-sm-12 col-md-3 col-lg-2 col-xl-2">
              <label for="select-type-file" class="fw-700 mt-3">{{t('studentRecords.fileAttachs')}} <span
                  class="text-danger">*</span> </label>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-10 col-xl-10">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                      <select name="select-type-file" id="select-type-file" class="w-full so-form-control form-control"
                        formControlName="fileType" (ngModelChange)="changeTypeFile($event, i)">
                        <option [value]="typesFile.FILE">{{t('studentRecords.uploadFile')}}</option>
                        <option [value]="typesFile.LINK">{{t('studentRecords.uploadUrl')}}</option>
                      </select>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-9">
                      <div class="so-form-group">
                        <input type="text" id="name-file" name="name-file"
                          placeholder="{{t('studentRecords.enterNameFile')}}" formControlName="nameFile"
                          class="so-form-control form-control">
                        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                          validation: 'required',
                          message: t('studentRecords.requiredNameFile'),
                          control: getFormGroupOfFormArray(i).controls['nameFile']
                          }">
                        </ng-container>
                        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                          validation: 'maxlength',
                          message: t('studentRecords.maxLengthNameFile'),
                          control: getFormGroupOfFormArray(i).controls['nameFile']
                          }">
                        </ng-container>
                        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                          validation: 'notEmpty',
                          message: t('studentRecords.requiredNameFile'),
                          control: getFormGroupOfFormArray(i).controls['nameFile']
                          }">
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="d-flex align-items-center justify-content-end"
                    *ngIf="item.get('fileType').value == typesFile.FILE">
                    <input name="" id="" class="text-link flex-grow-1 name-file-local" readonly
                      formControlName="nameFileLocal">
                    <div (click)="uploadFile.click()" class="btn-upload-file mx-6">
                      <div class="d-flex align-items-center">
                        <img src="assets/images/svg/icon-upload.svg" alt="">
                        <div class="text-center">
                          <span>{{t('studentRecords.uploadFile2')}}</span>
                          <span>{{t('studentRecords.uploadFile3')}}</span>
                        </div>
                      </div>
                      <input #uploadFile type="file" name="file" class="d-none" value=""
                        (change)="onChangeFile($event, i)">
                    </div>
                    <button class="btn-remove" (click)="remove(i)" name="btn-remove" [hidden]="isHiddenElement && i==0">
                      <img src="assets/images/svg/icon-delete2.svg" alt="">
                    </button>
                  </div>
                  <div class="d-flex align-items-center justify-content-end"
                    *ngIf="item.get('fileType').value == typesFile.LINK">
                    <div class="so-form-group flex-grow-1">
                      <input type="text" id="url" name="url" placeholder="{{t('studentRecords.enterUrl')}}"
                        formControlName="url" class="so-form-control form-control">
                      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: t('studentRecords.requiredUrl'),
                        control: getFormGroupOfFormArray(i).controls['url']
                        }">
                      </ng-container>
                      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'notEmpty',
                        message: t('studentRecords.requiredUrl'),
                        control: getFormGroupOfFormArray(i).controls['url']
                        }">
                      </ng-container>
                      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'pattern',
                        message: t('studentRecords.patternUrl'),
                        control: getFormGroupOfFormArray(i).controls['url']
                        }">
                      </ng-container>
                    </div>
                    <button class="btn-remove ms-6" (click)="remove(i)" name="btn-remove"
                      [hidden]="isHiddenElement && i==0">
                      <img src="assets/images/svg/icon-delete2.svg" alt="">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- error -->
      <ng-template #formError let-control="control" let-message="message" let-validation="validation">
        <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
          <div class="fv-plugins-message-container">
            <span role="alert">
              <div class="err-form text-danger">
                <span>&nbsp;{{ message }}</span>
              </div>
            </span>
          </div>
        </ng-container>
      </ng-template>

    </div>
    <div class="modal-footer">
      <div class="d-flex justify-content-between align-items-center w-full">
        <button class="so-btn so-btn-primary so-btn-primary--small" (click)="create(null)" name="btn-create">
          {{t('btnAction.add')}}
        </button>
        <div class="d-flex justify-content-end align-items-center">
          <button type="button" class="so-btn so-btn-cancel" data-dismiss="modal" name="btn-cancel"
            (click)="closeModal(false)">{{t(dataModal?.btnCancel)}}</button>
          <button type="button" class="so-btn so-btn-primary so-btn-primary--small" name="btn-accept"
            (click)="submit(formSubmit.value)" [disabled]="!formSubmit.valid">{{t(dataModal?.btnAccept)}}</button>
        </div>
      </div>
    </div>
  </form>
</ng-container>

<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>