<div class="card so-tab-horizontal shadow-none h-full" *transloco="let t; scope: 'behavior'">
  <div class="card-header card-header-stretch p-0 border-bottom-none">
    <h3 class="card-title fs-16 fw-700 d-flex">
      <div *ngIf="studentInfo">
        {{studentInfo?.fullName}} <span class="text-color-picton-blue">({{studentInfo.totalPoint != null ? studentInfo?.totalPoint : '?'}})</span>
      </div>
      <div class="ms-15" *ngIf="studentInfo">
        <img src="assets/images/svg/icon-grade-blue.svg" alt="icon">
        <span class="text-color-river-bed fs-13 ps-2">{{t('behavior.label.studentCode')}}: </span><span
        class="text-color-picton-blue fs-13">{{studentInfo?.code}}</span>
      </div>
      <div class="ms-15 d-flex align-items-center" *ngIf="studentInfo">
        <img src="assets/images/svg/icon_male_1.svg" alt="icon">
        <span class="text-color-river-bed fs-13 ps-2 pe-2">{{t('gender')}}: </span>
        <span class="gender-male" *ngIf="studentInfo?.gender == 1">{{t('genderName.male')}}</span>
        <span class="gender-fmale" *ngIf="studentInfo?.gender == 2">{{t('genderName.female')}}</span>
        <span class="gender-other" *ngIf="studentInfo?.gender == 3">{{t('genderName.other')}}</span>
      </div>
    </h3>
    <div class="card-toolbar">
      <ul class="nav nav-tabs nav-line-tabs nav-stretch fs-6 border-0">
        <li class="nav-item" (click)="redirectURLMark(1)">
          <a class="nav-link fs-14 fw-600" [ngClass]="{'active': type == 1}">
            <img src="assets/images/svg/behavior_plus.svg" alt="icon" class="width-22">
            <span class="ps-2">{{t('behavior.title.plusMark')}}</span>
          </a>
        </li>
        <li class="nav-item" (click)="redirectURLMark(2)">
          <a class="nav-link fs-14 fw-600 border-bottom-2" [ngClass]="{'active': type == 2}">
            <img src="assets/images/svg/behavior_minus.svg" alt="icon" class="width-22">
            <span class="ps-2">{{t('behavior.title.minusMark')}}</span>
          </a>
        </li>
        <li class="nav-item" (click)="redirectURLHistoryStudent()">
          <a class="nav-link fs-14 fw-600 border-bottom-2">
            <img src="assets/images/svg/backup.svg" alt="icon" class="width-22">
            <span class="ps-2">{{t('behavior.title.history')}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-body p-0 pt-3 h-full">
    <div class="tab-content" *ngIf="studentInfo">
      <div class="card card-flush p-0 h-full shadow-none">
        <div class="card-header p-0">
          <h3 class="card-title fs-14 fw-700 p-0">{{t('behavior.title.evaluationCriteria')}}</h3>
          <div class="card-toolbar">
            <div class="filter d-flex flex-wrap align-items-center">
              <span class="fw-600 mb-3 pe-3">{{t('behavior.label.chonNgayCham')}}</span>
              <div class="w-250px me-4 mb-3">
                <app-single-date-picker id="date" [currentDate]="gradingDate"
                                        [timePicker]="timePicker"
                                        (dataTimeOutput)="dataTimeOutput($event)"
                                        [maxDate]="maxDate"
                                        [minDate]="numberGradingBackDate ? checkMinDate - (numberGradingBackDate * 86400) : null"
                ></app-single-date-picker>
              </div>
              <div class="so-input-search mb-3">
                <input #searchInput type="text" name="input-search" placeholder="{{ t('search') }}"
                       (keyup.enter)="search(searchInput.value)">
                <img src="assets/images/svg/search.svg" alt="icon" class="cursor-pointer"
                     (click)="search(searchInput.value)"/>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <form [formGroup]="formGroup" *ngIf="formGroup">
            <ng-container formArrayName="behaviors">
              <ng-container *ngIf="behaviors.value.length > 0">
                <ng-container *ngFor="let itemForm of formGroup.get('behaviors')['controls']; let index = index">
                  <div [formGroupName]="index" class="mb-6" *ngIf="itemForm.value.isDisplay">
                    <div class="criteria bg-color-lavender-mist pt-5 pb-10 ps-8 pe-8">
                      <div class="criteria-box-info d-flex align-items-center">
                        <div class="symbol symbol-70px me-10">
                          <img src="{{itemForm.value.avatar}}" class="object-fit-cover" alt="image">
                        </div>
                        <div class="">
                          <div class="criteria-box-info__name">
                            <span class="fw-700 pe-2">{{itemForm.value.name}}</span>
                            <span class="text-color-picton-blue fs-500">[{{itemForm.value.code}}]</span>
                          </div>
                          <div class="d-flex mt-4">
                            <span class="badge so-badge bg-color-picton-blue">{{itemForm.value.behaviorCategoryName}}</span>
                            <div class="d-flex align-items-center ms-4">
                              <img src="assets/images/svg/warning.svg" alt="icon">
                              <span class="text-color-carrot-orange fw-700 ps-4">
                              {{t('behavior.label.daCham')}} {{itemForm.value.gradedTimeNumber}} {{t('behavior.label.lanTrong')}} {{getNameBehaviorResetTimeNumberType(studentInfo.resetTimeNumberType)}}
                            </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="criteria-box-input">
                        <div class="fs-16 d-flex justify-content-end align-items-center mb-2">
                          <div>
                            <span class="fw-700 text-color-greenish-teal" *ngIf="type == 1"> + {{ itemForm.value.displayPoint }}</span>
                            <span class="fw-700 text-color-bittersweet" *ngIf="type == 2 && itemForm.value.displayPoint != 0"> {{ itemForm.value.displayPoint }}</span>
                            <span class="fw-700 text-color-bittersweet" *ngIf="type == 2 && itemForm.value.displayPoint == 0"> - {{ itemForm.value.displayPoint }}</span>
                          </div>
                          <div class="ms-10">
                            <span class="fs-13 fw-600">{{t('behavior.label.lanCongTru')}}:</span>
                          </div>
                          <div class="ms-2 fs-20 fw-700 w-20px text-center cursor-pointer" (click)="clickMinus(itemForm.value.number, index)">
                            <span>-</span>
                          </div>
                          <div class="w-60px ms-2">
                            <input type="number" min="0" max="10" class="form-control custom-input" onlyNumber formControlName="number"
                                   (ngModelChange)="changeNumber($event, index)"
                            />
                          </div>
                          <div class="ms-2 fs-20 fw-700 w-20px text-center cursor-pointer" (click)="clickPlus(itemForm.value.number, index)">
                            <span>+</span>
                          </div>
                        </div>
                        <input type="text" class="so-form-control form-control" placeholder="{{t('behavior.label.enterComment')}}"
                               formControlName="comment"/>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="behaviors.value.length == 0">
                <div class="w-full text-center">
                  <span class="text-no-data">{{t('noData')}}</span>
                </div>
              </ng-container>
            </ng-container>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="button-save-bottom w-100 d-flex justify-content-center align-items-center">
    <button type="button"
            class="so-btn so-btn-cancel me-4"
            [routerLink]="['/staff/behavior']" [queryParams]="{gradeId: gradeId, homeroomClassId: homeroomClassId}">
      {{t('btnAction.cancel')}}
    </button>
    <button type="button" *ngIf="formGroup && studentInfo"
            class="so-btn so-btn-primary so-btn-primary--small"
            (click)="submitForm(formGroup.value)">
      {{t('btnAction.save')}}
    </button>
  </div>
</div>
<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
