.total-permission {
    color: #50A5F1;
    padding-left: 0.5rem;
}

.modal-body {
    padding: 0 1.75rem;

    .border-bt {
        border-bottom: 1px solid #E2E8F0;
    }

    .color-50A5F1 {
        color: #50A5F1;
    }

    .permissin-code {
        color: #000000;
        opacity: 0.7;
    }
}