.text-link {
  color: #3289f3;
}

.text-underline,
.text-underline:hover {
  text-decoration: underline !important;
}

.border-radius-bg {
  border-radius: 5px;
}

.so-badge {
  font-size: 1.2rem;
  padding: 6px 8px;
  min-width: 3rem;
  img.icon {
    width: 13px;
    height: 13px;
  }
}

.so-badge-status-0 {
  background: #f46a6a;
}

.so-badge-status-1 {
  background: #50a5f1;
}

.so-badge-status {
  font-size: 1.1rem;
  min-width: 7rem;
}

// ============ start style checkbox =========
::ng-deep .so-checkbox {
  display: flex;
  align-items: center;
  max-width: max-content;
  .ant-checkbox {
    top: 0;
  }
  .ant-checkbox-inner {
    width: 19px;
    height: 19px;
    border-radius: 4px;
    border: 1px solid #556ee6;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #556ee6;
  }
  .ant-checkbox-wrapper:hover {
    border-color: #556ee6;
  }
  .ant-checkbox + span {
    display: inline-flex;
    flex-wrap: wrap;
  }
}
::ng-deep .so-checkbox--white {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #fff;
  }
  .ant-checkbox-checked .ant-checkbox-inner::after {
    border: 2px solid #556ee6;
  }
}
// =========== end style checkbox ============

.btn-import-export {
  background: #f5f8fa;
  border-radius: 6px;
  color: #556EE6;
  padding-left: 12px;
  padding-right: 12px;
  img {
    width: 16px;
    height: 15px;
    margin-right: 5px;
  }
}

.btn-import-export:hover {
  background: #d1d3d4ab;
}

.btn-remove {
  background: none;
  border: none;
  outline: none;
  padding: 3px;
  cursor: pointer;
  img {
    width: 16px;
    height: 16px;
  }
}
.btn-remove:focus {
  outline: none;
}

::ng-deep table caption {
  display: none;
}

.bg-custom {
  background: #F3F6F9;
  .so-form-group input, .so-form-group select {
    background: #fff;
  }
}

.btn-add-item-form-control {
  color: #556EE6;
  font-weight: 600;
  img {
    width: 14px;
    height: 14px;
    margin-right: 4px;
  }
}
