.so-menu-accordion.show{
  .so-menu-item {
    background: #f3f6f9;
    //box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.04);
    box-shadow: inset -3px 0 0 0 #50A5F1;
    border-radius: 1px;
    color: #495057;
    .menu-title{
      color: #495057 !important;
    }

    //box-shadow: 0 2px 0 0 #50a5f1;
    //.so-menu-item-icon {
    //  background: #50A5F1;
    //  box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.1);
    //  img {
    //    filter: brightness(0) saturate(100%) invert(92%) sepia(95%) saturate(19%) hue-rotate(304deg) brightness(105%) contrast(107%);
    //  }
    //}
  }
}


.so-menu-item {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.5rem !important;
  transition: all 0.2s ease;
  //margin-top: 5px;
  //margin-bottom: 5px;
  //font-style: normal;
  //font-weight: 600;
  //font-size: 1.4rem !important;
  //line-height: 20px;
  //color: #979DAE;
  .menu-title{
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem !important;
    line-height: 20px;
    color: #979DAE !important;
  }
  &-icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
  }
  &-icon img {
    width: 17px;
    height: 17px;
    filter: brightness(0) saturate(100%) invert(48%) sepia(52%) saturate(4828%)
    hue-rotate(177deg) brightness(102%) contrast(100%);
  }
}

.so-menu-item.active, .so-menu-item:hover {
  background: #f3f6f9;
  //box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.04);
  box-shadow: inset -3px 0 0 0 #50A5F1;
  border-radius: 1px;
  color: #495057;
  .menu-title{
    color: #495057 !important;
  }

  //box-shadow: 0 2px 0 0 #50a5f1;
  //.so-menu-item-icon {
  //  background: #50A5F1;
  //  box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.1);
  //  img {
  //    filter: brightness(0) saturate(100%) invert(92%) sepia(95%) saturate(19%) hue-rotate(304deg) brightness(105%) contrast(107%);
  //  }
  //}
}


