<ng-container *transloco="let t; scope: 'auth'">
  <form [formGroup]="resetPassword">
    <!--begin::Form group-->
    <div class="fv-row mb-10">
      <label class="form-label fs-3 fw-bolder text-dark">{{t('auth.enterNewPassword')}}</label>
      <div class="so-input-password mb-3">
        <input class="form-control form-control-lg form-control-solid" type="{{isShowPassword ? 'text' : 'password'}}"
          name="password" autocomplete="off" placeholder="{{t('auth.enterPassword')}}" formControlName="password" />
        <span (click)="showPassword('password')">
          <img src="{{isShowPassword ? 'assets/images/svg/eye_show.svg': 'assets/images/svg/eye_hide.svg'}}" alt="">
        </span>
      </div>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: t('auth.requiredPassword'),
        control: resetPassword.controls['password']
        }">
      </ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: t('auth.minLengthPassword'),
        control: resetPassword.controls['password']
        }">
      </ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxlength',
        message: t('auth.maxLengthPassword'),
        control: resetPassword.controls['password']
        }">
      </ng-container>
      <!-- test case pass -->
      <div class="err-login text-err-true" *ngIf="resetPassword.controls['password'].value.length >= 6">
        <span class="icon-warming">
          <img src="assets/images/svg/icon-true.svg" alt="">
        </span>
        <span>{{t('auth.minLengthPassword')}} </span>
      </div>
      <div class="err-login text-err-true"
        *ngIf="resetPassword.controls['password'].value.length >= 6 && resetPassword.controls['password'].value.length <= 50">
        <span class="icon-warming">
          <img src="assets/images/svg/icon-true.svg" alt="">
        </span>
        <span>{{t('auth.maxLengthPassword')}} </span>
      </div>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="fv-row mb-10">
      <label class="form-label fs-3 fw-bolder text-dark">{{t('auth.confirmNewPassword')}}</label>
      <div class="so-input-password mb-3">
        <input class="form-control form-control-lg form-control-solid"
          type="{{isShowConfirmPassword ? 'text' : 'password'}}" name="confirmPassword" autocomplete="off"
          placeholder="{{t('auth.enterConfirmPassword')}}" formControlName="confirmPassword" />
        <span (click)="showPassword('confirm-password')">
          <img src="{{isShowConfirmPassword ? 'assets/images/svg/eye_show.svg': 'assets/images/svg/eye_hide.svg'}}"
            alt="">
        </span>
      </div>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: t('auth.requiredPassword'),
        control: resetPassword.controls['confirmPassword']
        }">
      </ng-container>
      <div class="err-login text-danger"
        *ngIf="resetPassword.controls['password'].value != resetPassword.controls['confirmPassword'].value && resetPassword.controls['confirmPassword'].value!=''">
        <span class="icon-warming">
          <img src="assets/images/svg/icon-false.svg" alt="">
        </span>
        <span>{{t('auth.matchConfirmNewPassword')}} </span>
      </div>
    </div>
    <!--end::Form group-->

    <ng-template #formError let-control="control" let-message="message" let-validation="validation">
      <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
          <span role="alert">
            <div class="err-login text-danger" *ngIf="password == ''">
              <span class="icon-warming">
                <img src="assets/images/svg/icon-false.svg" alt="">
              </span>
              <span>{{ message }}</span>
            </div>
          </span>
        </div>
      </ng-container>
    </ng-template>

    <!--begin::Form action-->
    <div class="d-flex flex-wrap justify-content-end pb-lg-0">
      <a routerLink="/auth/login" id="kt_login_password_reset_form_cancel_button"
        class="btn btn-lg btn-light-primary fw-bolder me-4 btn-auth-cancel disable">
        {{t('btnAction.cancel')}}
      </a>
      <button type="submit" id="kt_password_reset_submit" class="btn btn-lg btn-primary fw-bolder btn-auth-submit"
        [disabled]="hasError || resetPassword.controls['confirmPassword'].value =='' || resetPassword.controls['password'].value ==''"
        (click)="submit()">
        <span class="indicator-label">{{t('btnAction.complete')}}</span>
        <ng-container *ngIf="isLoading$ | async">
          <span class="indicator-progress">
            {{t('auth.waite')}}
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </ng-container>
      </button>
    </div>
    <!--end::Form action-->
  </form>
</ng-container>
