<div class="card custom-comment d-flex flex-column" *transloco="let t;">
  <ng-container *ngIf="dataSource && dataSource.length > 0">
    <div class="container-comment d-flex flex-column w-100" *ngFor="let item of dataSource">
      <div class="content-comment d-flex mb-5">
        <div class="content-comment-left">
          <img class="avatar-comment-custom" src="{{ item.commentBy.avatar }}" alt="">
        </div>
        <div class="content-comment-right d-flex flex-column ms-6">
          <div class="comment-header d-flex align-items-center">
            <h3 class="comment-author fs-18 fw-700 m-0">{{ item.commentBy.fullName }}</h3>
            <span class="comment-time fs-18 fw-500">{{ item.time | timeago }}</span>
            <span class="comment-action fs-13 fw-600 d-flex align-items-center">
              <img class="comment-action-icon me-2" src="assets/images/svg/like_icon.svg" alt=""> {{ item.likeNumber }} {{ t('like') }}
            </span>
            <span class="comment-action fs-13 fw-600 d-flex align-items-center" (click)="replyComment(item.id)">
              <img class="comment-action-icon me-2" src="assets/images/svg/reply_icon.svg" alt=""> {{ t('reply') }}
            </span>
          </div>
          <div class="comment-body">
            <span class="comment-body-text fs-16 fw-600">{{ item.content }} </span>
          </div>
        </div>
      </div>
      <ng-conatiner *ngIf="item.child && item.child.length > 0">
        <div class="child-content-comment d-flex mb-5" *ngFor="let childItem of item.child">
          <div class="content-comment-left">
            <img class="avatar-comment-custom-child" src="{{ childItem.commentBy.avatar }}" alt="">
          </div>
          <div class="content-comment-right d-flex flex-column ms-6">
            <div class="comment-header d-flex align-items-center">
              <h3 class="comment-author-child fs-14 fw-700 m-0">{{ childItem.commentBy.fullName }}</h3>
              <span class="comment-time-child fs-14 fw-500">{{ childItem.time | timeago }}</span>
            </div>
            <div class="comment-body">
              <span class="comment-body-text-child fs-13 fw-600">{{ childItem.content }}</span>
            </div>
          </div>
        </div>
      </ng-conatiner>
      <div class="reply-comment-child mb-5" *ngIf="checkShowReply[item.id]">
        <input type="text" class="custom-tag-of-form form-control fs-14 fw-600 pe-20" placeholder="{{ t('enterReply') }}">
        <img class="reply-icon" src="assets/images/svg/reply_icon.svg" alt="">
      </div>
    </div>
  </ng-container>
  <div class="reply-comment w-100 d-flex">
    <div class="reply-comment-avatar">
      <img class="reply-comment-avatar-custom" src="assets/images/png/image-guide-comment.png" alt="">
    </div>
    <input type="text" class="custom-tag-of-form form-control content-reply fs-14 fw-600 pe-20 ms-4"
      placeholder="{{ t('enterReply') }}">
    <img class="reply-icon" src="assets/images/svg/reply_icon.svg" alt="">
  </div>
</div>