::ng-deep.custom-single-date-picker {
    width: 100%;
    position: relative;

    input {
        background: #F5F8FA !important;
        border-radius: 6px;
        text-align: left;
        border: none;

        // height: 40px;
        // padding: 5px 20px 5px 10px;
        &:focus {
            background: #F5F8FA;
            border-color: #40a9ff !important;
            box-shadow: 0 0 0 2px rgb(24 144 255 / 20%) !important;
            border-right-width: 1px !important;
            outline: 0;
            border-radius: 5px;
            height: 35px !important;
        }

        &:disabled {
            background: #E1E1E1;
        }
    }

    .icon-date-picker {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        width: 15px;
        height: 15px;
    }

    .calendar-time {
        .select-item {
            font-size: 1.4rem !important;
            padding: 0 !important;
            border-bottom: unset !important;
        }
    }

    .btn {
        height: 30px !important;
        width: 80px !important;
        padding: 0 !important;
        font-size: 1.2rem !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        float: right !important;
    }
}