<div class="card so-tab-horizontal shadow-sm h-100" *transloco="let t; scope: 'notification'">
  <div class="card-header card-header-stretch">
    <h3 class="card-title fs-18 fw-700">{{dataNotification?.title}}</h3>
    <div class="card-toolbar">
      <ul class="nav nav-tabs nav-line-tabs nav-stretch fs-6 border-0">
        <li class="nav-item">
          <a class="nav-link fs-14 fw-600 {{ tabActive == 'tab-detail' ? 'active' : '' }}"
             data-bs-toggle="tab"
             (click)="activeTab('tab-detail')">
                    <span class="group-icon">
                      <img src="assets/images/svg/icon-noti-blue3.svg" alt="">{{t('notification.notificationDetails')}}
                    </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-14 fw-600 {{ tabActive == 'tab-receiver' ? 'active' : '' }}"
             data-bs-toggle="tab"
             (click)="activeTab('tab-receiver')">
                    <span class="group-icon">
                      <img src="assets/images/svg/people.svg" alt="">{{t('notification.receiver')}}
                    </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-body">
    <div class="tab-content" id="myTabContent">
      <ng-container *ngIf="tabActive == 'tab-detail'">
        <div class="tab-pane fade {{ tabActive == 'tab-detail' ? 'show active' : '' }}" role="tabpanel">
          <app-tab-notification-detail-sent-teacher [data]="dataNotification"></app-tab-notification-detail-sent-teacher>
        </div>
      </ng-container>
      <ng-container *ngIf="tabActive == 'tab-receiver'">
        <div class="tab-pane fade {{ tabActive == 'tab-receiver' ? 'show active' : '' }}" role="tabpanel">
          <app-tab-notification-list-sent-teacher></app-tab-notification-list-sent-teacher>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>





