<div class="card card-flush shadow-sm p-0 h-full" *transloco="let t; scope: 'module-manager'">
  <div class="card-header">
    <h3 class="card-title fs-18 fw-700">{{ t('moduleManager.moduleInfomation') }}</h3>
    <div class="card-toolbar">
    </div>
  </div>
  <div class="card-body py-5 pt-0">
    <div class="d-flex flex-row mb-6">
      <span class="text-color-river-bed fs-14 fw-700 me-20">{{ t('moduleManager.moduleName') }}: <b class="fs-14 fw-700 text-color-picton-blue">{{ dataModule?.name }}</b></span>
      <span class="text-color-river-bed fs-14 fw-700">{{ t('moduleManager.moduleCode') }}: <b class="fs-14 fw-700 text-color-picton-blue">{{ dataModule?.code }}</b></span>
    </div>
    <div>
      <span class="d-flex text-color-river-bed fs-14 fw-700">{{ t('status') }}: <label class="text-color-river-bed ms-4" nz-checkbox [disabled]="true" [ngModel]="dataModule?.isActive == 1 ? true : false">{{ t('moduleManager.activated') }}</label></span>
    </div>
    <div class="card card-flush shadow-none p-0">
      <div class="card-header p-0">
        <h3 class="card-title fs-16 fw-700">{{ t('moduleManager.permissionList') }}</h3>
        <div class="card-toolbar">
          <div class="filter d-flex flex-wrap align-items-center"> 
            <div class="so-input-search mb-3">
                <input [(ngModel)]="keyWord" type="text"  name="input-search" placeholder="{{ t('moduleManager.enterNameCodePermission') }}"
                       (keyup.enter)="getListPermissionOfModule()">
                <img src="assets/images/svg/search.svg" alt="icon" class="cursor-pointer" (click)="getListPermissionOfModule()"/>
            </div> 
        </div>
        </div>
      </div>
      <div class="card-body py-5 p-0 pt-0">
        <div class="table-responsive">
          <table class="table table-row-bordered table-row-gray-300">
            <caption></caption>
            <thead>
              <tr class="fs-14 fw-700 text-color-river-bed">
                <th class="w-5 text-center">
                  {{ t('moduleManager.order') }}
                </th>
                <th class="w-25">
                  {{ t('moduleManager.permissionName') }}
                </th>
                <th class="w-20">
                  {{ t('moduleManager.permissionCode') }}
                </th>
                <th class="w-50">
                  {{ t('moduleManager.description') }}
                </th>
              </tr>
            </thead>
            <tbody *ngIf="dataPermission && dataPermission.length > 0">
              <tr *ngFor="let item of dataPermission;let i = index" class="fs-13 fw-600 text-color-river-bed">
                <td class="text-center">{{ i+1 }}</td>
                <td class="fw-700">
                  {{ item.name }}
                </td>
                <td>
                  {{ item.code }} 
                </td>
                <td>
                  {{ item.description }}
                </td>
              </tr>
              <tr *ngIf="dataPermission?.length == 0 || !dataPermission">
                <td class="text-no-data" colspan="4">{{t('noData')}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>