.style-module-manager-detail {
    width: 100%;
    height: 100%;
    padding: 2rem;

    .title-module {
        color: #2D3748;
        margin-bottom: 2rem;
    }

    .lb-info {
        color: #495057;
    }

    .value-info {
        margin-left: 1rem;
        color: #50A5F1;
    }

    .infomation-module {
        margin-bottom: 2rem;

        .lb-info:first-child {
            margin-right: 5rem;
        }
    }

    .module-status {
        margin-bottom: 2rem;

        .value-status {
            margin-left: 1.5rem;
        }
    }

    .header-permission {
        display: flex;
        align-items: flex-start;

        .title-permission {
            color: #2D3748;
            flex-grow: 1;
        }

        .search-input {
            width: 40%;
            position: relative;

            input {
                height: 40px;
                padding-right: 40px;
            }

            .search-icon {
                position: absolute;
                right: 10px;
                top: 10px;
                width: 20px;
                height: 20px;
            }
        }
    }

    .content-permission {
        .permission-index{
            color: #000000;
        }
        .permission-name{
            color: #50A5F1;
        }
        .permission-code{
            color: #000000;
            opacity: 0.7;
        }
        .permission-description{
            color: #000000;
            opacity: 0.7;
        }
    }
}

.pdl-0 {
    padding-left: 0;
}

.pdr-0 {
    padding-right: 0;
}

.custom-select {
    height: 40px;
    padding: 0;
}

.text-left-th {
    text-align: left !important;
}