<ng-container *transloco="let t; scope: 'role'">
  <div class="filter d-flex flex-wrap align-items-center justify-content-end">
    <div class="so-input-search me-4 mb-3">
      <input type="text" placeholder="{{ t('role.search') }}" #searchInput name="input-search"
      (keydown)="search($event, searchInput.value)">
      <img src="assets/images/svg/search.svg" alt="" nzType="search" (click)="searchClickIcon(searchInput.value)"/>
    </div>
    <ng-template ngxPermissionsOnly="{{ permission.role_modify }}">
      <button class="so-btn so-btn-primary so-btn-primary--small mb-3" (click)="create()" name="btn-create">
        <img src="assets/images/svg/add.svg" alt="">
        {{t('btnAction.add')}}
      </button>
    </ng-template>
  </div>
  <div class="table-responsive">
    <table class="table table-row-bordered table-row-gray-300">
      <caption></caption>
      <thead>
        <tr class="fs-14 fw-700 text-color-river-bed">
          <th class="w-5 text-center">{{t('STT')}}</th>
          <th class="w-20"> {{t('role.nameUser')}}</th>
          <th class="w-8"> {{t('code')}} </th>
          <th class="w-10"> {{t('account')}} </th>
          <th class="w-10"> {{t('phone')}} </th>
          <th class="w-12"> {{t('email')}} </th>
          <th class="w-20" 
            *ngIf="layout == 'teacher' || layout =='staff' || layout == 'campus'">
            {{t('unit')}}
          </th>
          <th class="w-8"> {{t('status')}} </th>
          <ng-template ngxPermissionsOnly="{{ permission.role_modify }}">
            <th class="w-7 text-center"> {{t('action')}} </th>
          </ng-template>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of listUsers; let i=index">
          <tr class="fs-13 fw-600 text-color-river-bed">
            <td class="text-center">
              {{isLoading ? (oldPageIndex-1)*pageSize + i + 1 : (pageIndex-1)*pageSize + i + 1}}
            </td>
            <td>
              <span class="fw-700" [routerLink]="item.id">{{item.fullName}}</span>
            </td>
            <td class="text-break">
              {{item.code}}
            </td>
            <td class="text-break">
              {{item.username}}
            </td>
            <td>
              {{item.phone}}
            </td>
            <td>
              {{item.email}}
            </td>
            <td *ngIf="layout == 'teacher' || layout =='staff' || layout == 'campus'">
              {{item.unitName}}
            </td>
            <td>
              <span class="badge so-badge so-badge--primary so-badge-status-{{item?.isActive}}">
                {{t(mapNameStatus(item?.isActive))}}
              </span>
            </td>
            <ng-template ngxPermissionsOnly="{{ permission.role_modify }}">
              <td class="text-center">
                <div class="d-flex justify-content-center">
                  <button class="btn-remove" (click)="remove(item.id, item.userRoleId, item.fullName)" name="btn-remove">
                    <img src="assets/images/svg/icon-delete2.svg" alt="">
                  </button>
                </div>
              </td>
            </ng-template>
          </tr>
        </ng-container>
        <tr *ngIf="listUsers?.length == 0 || !listUsers">
          <td class="text-no-data" colspan="9">{{t('noData')}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
    *ngIf="collectionSize > sizeOption[0]" [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
  </app-pagination>
</ng-container>

<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
