.text-link {
  color: #3289f3;
}

.text-underline,
.text-underline:hover {
  text-decoration: underline !important;
}

.so-badge-status-0 {
  background: #f46a6a;
}

.so-badge-status-1 {
  background: #50a5f1;
}

.btn-remove {
  background: none;
  border: none;
  outline: none;
  padding: 3px;
  cursor: pointer;
  img {
    width: 16px;
    height: 16px;
  }
}
.btn-remove:focus {
  outline: none;
}

::ng-deep table caption {
  display: none;
}

.so-badge-action {
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  img {
    width: 13px;
    height: 13px;
    margin-right: 3px;
  }
  &--approve {
    background: #556EE6;
  }

  &--refuse {
    background: #F1B44C;
  }
}

.icon-mark {
  display: inline-block;
  margin-left: 4px;
  img {
    width: 11px;
    height: 14px;
  }
}

.so-table-th-custom--white thead > tr {
  background: var(--bs-picton-blue);
  color: var(--bs-white);
}

.so-table-th-custom--grey thead > tr {
  background: var(--bs-white-smoke);
  color: var(--bs-river-bed);
}


