.custom-avatar {
  .symbol {
    background: rgba(203, 203, 203, 0.2);
    border: 1px solid rgba(203, 203, 203, 0.2);
    border-radius: 1.5rem;

    .avatar {
      width: 12.5rem;
      height: 12.5rem;
      object-fit: cover;
    }

    .delete-img {
      position: absolute;
      top: -12px;
      right: -8px;
      cursor: pointer;

      img {}
    }

    .upload-img {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 3rem;
      background-color: #556EE6;
      border-bottom-left-radius: 0.6rem;
      border-bottom-right-radius: 0.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {}

      span {
        color: #FFFFFF;
      }
    }
  }
}

.get-info {
  .label-info {
    height: 40px;
    width: auto;

    img {
      margin-right: 1rem;
    }

    .text-label {
      width: 12.5rem;
    }
  }

  .input-custom {
    flex-grow: 1;
    padding-left: 2rem;
  }

  .gender {
    flex-grow: 1;
  }
}


::ng-deep.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  padding: 0 !important;
}

::ng-deep.ant-select-multiple .ant-select-selection-search {
  margin-top: 0;
  margin-bottom: 0;
}