<div class="card so-tab-horizontal shadow-none p-0 h-full" *transloco="let t; scope: 'behavior'">
  <div class="card-header border-bottom-none" *ngIf="homeroomClassInfo">
    <div class="card-title">
      <h4 class="fs-18 fw-700 me-4">{{homeroomClassInfo.name}}</h4>
      <span class="fs-14 fw-600 text-color-picton-blue">{{studentScoreList.length}} {{ t('student') }}</span>
    </div>
    <div class="card-toolbar">
      <div class="filter d-flex flex-wrap align-items-center">
        <div class="so-input-search me-4 mb-3">
          <input #searchInput type="text" name="input-search" placeholder="{{ t('search') }}"
            (keyup.enter)="search(searchInput.value)">
          <img src="assets/images/svg/search.svg" alt="icon" class="cursor-pointer"
            (click)="search(searchInput.value)" />
        </div>
        <button class="fs-13 fw-600 text-color-white bg-color-blue-lotus guide-action me-4 mb-3" name="btn-guide">
          <span class="fs-13 fw-600">?</span>
        </button>
        <!--        <ng-template ngxPermissionsOnly="{{ permission.role_modify }}">-->
        <button class="so-btn so-btn-primary so-btn-primary--small mb-3 me-4" name="btn-create"
          [routerLink]="['/teacher/behavior/homeroom-class/many-student']"
          [queryParams]="{gradeId: gradeId, classId: homeroomClassId}">
          <img src="assets/images/svg/add.svg" alt="icon">
          {{t('behavior.title.scoreManyStudents')}}
        </button>
        <a class="box__right d-flex align-items-center hover-lichsu mb-3"
          [routerLink]="['/teacher/class-manager/detail/',homeroomClassId]"
          [queryParams]="{tab:'behavior' , subtab: 'history' }">

          <div class="icon--img"><img class="filter-history me-2" src="assets/images/svg/history.svg" alt=""></div>
          <a class="fs-14 fw-600">{{ t('behavior.title.scoringHistory') }}</a>
        </a>
        <!--        </ng-template>-->
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="box__list" *ngIf="homeroomClassInfo">
      <ng-container *ngFor="let item of studentScoreList">
        <div class="box__list--item d-flex align-items-center">
          <div class="item-left w-33">
            <ng-container *ngIf="item.isWarningPoint == 1; then warning1 , else warning2"></ng-container>
            <ng-template #warning1>
              <div class="warning d-flex align-items-center w-100 action-hover">
                <p class="fs-13 fw-600 text-color-carrot-orange">{{ t('behavior.title.currentScore') }}:</p>
                <img src="assets/images/svg/warning.svg" alt="">
                <div class="message pt-6 pb-6 ps-4 pe-4 bg-color-white">
                  <span class="text-color-bittersweet">{{ t('behavior.title.warning') }}</span>
                </div>
              </div>
            </ng-template>
            <ng-template #warning2>
              <div class="warning d-flex align-items-center w-100">
                <p class="fs-13 fw-600">{{ t('behavior.title.currentScore') }}:</p>
              </div>
            </ng-template>

            <div class="scores mt-4 mb-4 ms-auto me-auto"
              [class]="(item.isWarningPoint == 1) ? 'bg-color-carrot-orange' :'bg-color-picton-blue'">
              <span class="scores-number fs-25 fw-700 text-color-white">{{item.totalPoint}}</span>
            </div>
            <!-- <ng-template> -->
            <a class="btn-item fs-13 fw-600 bg-color-blue-lotus d-flex justify-content-center align-items-center"
              [routerLink]="['/teacher/class-manager/detail/',homeroomClassId ]"
              [queryParams]="{tab:'behavior' , subtab: 1 , userid: item.id}">
              <img class="add-icon" src="assets/images/svg/add.svg" alt="">
              <span class="fs-12 fw-500 text-color-white">{{ t('behavior.title.mark') }}</span>
            </a>
            <!-- </ng-template> -->
          </div>
          <div class="item-right w-68 ps-10 d-flex flex-column justify-content-between ">
            <a class="title d-flex align-items-center">
              <div class="avatar">
                <img src="{{(item.avatar) ? item.avatar : 'assets/media/avatars/blank.png' }}" alt="">
              </div>
              <h5 class="fs-14 fw-700">{{item.fullName}}</h5>
            </a>
            <div class="code d-flex align-items-center">
              <div class="item-title d-flex align-items-center">
                <img src="assets/images/svg/icon-grade-blue.svg" alt="">
                <p>{{ t('behavior.title.studentID') }}</p>
              </div>
              <span class="text-color-picton-blue">{{item.code}}</span>
            </div>
            <div class="grade d-flex align-items-center">
              <div class="item-title d-flex align-items-center">
                <img src="assets/images/svg/gender.svg" alt="">
                <p>{{ t('gender') }}:</p>
              </div>
              <ng-container *ngFor="let gender of genders">
                <span *ngIf="item.gender == gender.id"
                  [class]="(item.gender == 1) ? 'gender-male' : (item.gender == 2) ? 'gender-fmale' : 'gender-other'">{{
                  t(gender.name) }}</span>
              </ng-container>
            </div>
            <!-- <ng-template> -->
            <a class="history d-flex align-items-center hover-lichsu" (click)="showHistoryStudent(item)">
              <div class="item-title d-flex align-items-center">
                <img class="filter-history" src="assets/images/svg/history.svg" alt="">
              </div>
              <p>{{ t('behavior.title.scoringHistory') }}</p>
            </a>
            <!-- </ng-template> -->
          </div>
        </div>
      </ng-container>
    </div>
    <div class="text-center mt-30" *ngIf="studentScoreList?.length == 0 || !studentScoreList">
      <p class="text-no-data">{{t('noData')}}</p>
    </div>
  </div>
</div>
<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>