
<div class="card card-flush p-0 h-full" *transloco="let t; scope: 'school'">
  <div class="card-header p-0">
    <h3 class="card-title fs-18 fw-700">{{t('school.listUser')}}</h3>
    <div class="card-toolbar">
      <div class="filter d-flex flex-wrap align-items-center">
        <ng-template ngxPermissionsOnly="{{ permission.school_manager }}">
          <button class="so-btn so-btn-light so-btn-light--small me-2 mb-3" (click)="export()" name="btn-export">
            <img src="assets/images/svg/export.svg" alt="">
            {{t('btnAction.export')}}
          </button>
        </ng-template>
        <select name="status" id="status" [(ngModel)]="isActive" class="so-select me-2 mb-3 fw-600 text-color-river-bed" (ngModelChange)="filter()">
          <option [value]="''">{{t('school.selectStatus')}}</option>
          <ng-container *ngFor="let status of arrStatusUser">
            <option [value]="status.value">{{t(status.label)}}</option>
          </ng-container>
        </select>
        <select name="layout" id="layout" [(ngModel)]="layoutCode" class="so-select me-2 mb-3 fw-600 text-color-river-bed" (ngModelChange)="filter()">
          <option [value]="''">{{t('school.selectLayout')}}</option>
          <ng-container *ngFor="let layout of arrLayouts">
            <option [value]="layout.code">{{layout.name}}</option>
          </ng-container>
        </select>
        <div class="so-input-search mb-3">
          <input class="fw-600 text-color-river-bed" type="text" placeholder="{{ t('school.search') }}" #searchInput name="input-search"
          (keydown)="search($event, searchInput.value)">
          <img src="assets/images/svg/search.svg" alt="" nzType="search" (click)="searchClickIcon(searchInput.value)"/>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body py-5 pt-0 p-0">
    <div class="table-responsive">
      <table class="table w-full mb-4 table-row-bordered table-row-gray-300">
        <caption></caption>
        <thead>
          <tr class="fs-14 fw-700 text-color-river-bed">
            <th style="width: 4%;" class="text-center">
              {{t('STT')}}</th>
            <th style="width: 18%;">{{t('fullName')}}</th>
            <th style="width: 10%;">{{t('code')}} </th>
            <th style="width: 12%;">{{t('username')}} </th>
            <th style="width: 12%;">{{t('phone')}} </th>
            <th style="width: 15%;">{{t('email')}} </th>
            <th style="width: 9%;">{{t('role')}} </th>
            <th style="width: 12%;">{{t('status')}} </th>
            <ng-template ngxPermissionsOnly="{{ permission.school_manager }}">
              <th style="width: 8%;" class="text-center"> {{t('action')}} </th>
            </ng-template>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of arrList; let i=index">
            <tr class="fs-13 fw-600 text-color-river-bed">
              <td class="text-center">
                {{isLoading ? (oldPageIndex-1)*pageSize + i + 1 : (pageIndex-1)*pageSize + i + 1}}
              </td>
              <td>
                <span class="fw-700">{{item.fullname}}</span>
              </td>
              <td>
                {{item.code}}
              </td>

              <td>
                {{item.username}}
              </td>
              <td>
                {{item.phone}}
              </td>
              <td>
                {{item.email}}
              </td>
              <td>
                <span class="badge so-badge so-badge--primary cursor-pointer" (click)="viewModalListRole(item.id, item.fullname, false)"
                  name="view-list">{{item.roleNumber}}</span>
              </td>
              <td>
                <span class="badge so-badge so-badge-status so-badge-status-{{item?.isActive}}">
                  {{t(mapNameStatus(item?.isActive))}}
                </span>
              </td>
              <ng-template ngxPermissionsOnly="{{ permission.user_modify }}">
                <td class="text-center">
                  <div class="d-flex justify-content-center">
                    <span nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click"
                      class="so-action" name="btn-open-menu">
                      <img src="assets/images/svg/three_vertical_dot_icon.svg" alt="" class="so-action--icon-opend">
                    </span>
                  </div>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item (click)="update(item.id, item)" class="fs-13 fw-600 text-color-river-bed"
                        name="btn-update">
                        <img src="assets/images/svg/write.svg" alt="" class="so-action--icon">
                        {{t('btnAction.update')}}
                      </li>
                      <li nz-menu-item (click)="viewModalListRole(item.id, item.fullname, true)"
                        class="fs-13 fw-600 text-color-river-bed"
                        name="btn-view-list">
                        <img src="assets/images/svg/document3.svg" alt="" class="so-action--icon">
                        {{t('school.listRole')}}
                      </li>
                      <li nz-menu-item (click)="assignRole(item.id)"
                        class="fs-13 fw-600 text-color-river-bed"
                        name="btn-view-list">
                        <img src="assets/images/svg/config_2_icon.svg" alt="" class="so-action--icon">
                        {{t('school.assignRole')}}
                      </li>
                      <li nz-menu-item (click)="changePassword(item.id, item)"
                      class="fs-13 fw-600 text-color-river-bed"
                        name="btn-send-noti">
                        <img src="assets/images/svg/password.svg" alt="" class="so-action--icon">
                        {{t('changePassword')}}
                      </li>
                      <li nz-menu-item (click)="changeStatusUser('lock', item.id, item.fullname)"
                      class="fs-13 fw-600 text-danger"
                        name="btn-lock"
                        *ngIf="item.isActive == 1">
                        <img src="assets/images/svg/lock11.svg" alt="" class="so-action--icon">
                        {{t('school.lockUser')}}
                      </li>
                      <li nz-menu-item (click)="changeStatusUser('unlock', item.id, item.fullname)"
                      class="fs-13 fw-600 text-color-river-bed"
                        name="btn-unlock"
                        *ngIf="item.isActive == 0">
                        <img src="assets/images/svg/block_icon.svg" alt="" class="so-action--icon">
                        {{t('school.unlockUser')}}
                      </li>
                      <li nz-menu-item (click)="changeStatusUser('delete', item.id, item.fullname)"
                      class="fs-13 fw-600 text-danger"
                        name="btn-delete">
                        <img src="assets/images/svg/delete6.svg" alt="" class="so-action--icon">
                        {{t('school.deleteAccount')}}
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </ng-template>
            </tr>
          </ng-container>
          <tr *ngIf="arrList?.length == 0 || !arrList">
            <td class="text-no-data" colspan="9">{{t('noData')}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
      *ngIf="collectionSize > sizeOption[0]" [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
    </app-pagination>
  </div>
</div>

<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
