.active {
  display: block;
  text-align: center;
  padding: 0.5rem 0;
  background-color: var(--bs-picton-blue);
  border-radius: 5px;
  color: var(--bs-white);
  width: 12rem;
  min-width: 12rem;
}

.unActive {
  display: block;
  text-align: center;
  padding: 0.5rem 0;
  background-color: var(--bs-carrot-orange);
  border-radius: 5px;
  color: var(--bs-white);
  width: 12rem;
  min-width: 12rem;
}
