<div class="card padding-compo" *transloco="let t; scope: 'grade'">
  <div class="header-card d-flex align-items-center justify-content-between w-100">
    <div class="title-content  mb-3">
      <span class="fs-18 fw-700">{{ t('grade.gradeList') }}</span>
    </div>

    <div class="d-flex align-items-center justify-content-end nav-bar">
      <div class=" mb-3 select-status">
        <select class="w-100 fs-13 fw-700 form-select form-select-solid form-select-lg" name="btn-grade" id="gradeType"
          [(ngModel)]="isActive" (change)="changeIsActie()">
          <option value="">{{ t('grade.status') }}</option>
          <option value="0">{{ t('grade.notActivated') }}</option>
          <option value="1">{{ t('grade.activated') }}</option>
        </select>
      </div>

      <div class=" mb-3 select-status">
        <select class="w-100 fs-13 fw-700 form-select form-select-solid form-select-lg" name="btn-educationalStages"
          id="educationalStages" [(ngModel)]="educationalStages" (change)="changeIsActie()">
          <option value="">{{ t('grade.educationalStages') }}</option>
          <option value="5">{{ t('grade.primarySchool') }}</option>
          <option value="4">{{ t('grade.secondarySchool') }}</option>
          <option value="3">{{ t('grade.highSchool') }}</option>
        </select>
      </div>
      <div class="search-input  mb-3">
        <input type="text" class="form-control custom-tag-of-form fs-13 fw-400" placeholder="{{ t('search') }}"
          [(ngModel)]="keyWord" name="btn-search" (keyup.enter)="changeIsActie()">
        <img class="search-icon" src="assets/images/svg/search.svg"  (click)="changeIsActie()" name="btn-search-icon">
      </div>
      <ng-template ngxPermissionsOnly="{{ permission.grade_manager }}">
        <div class="card-button mb-3">
          <button class="add-action fs-13 fw-600 w-100" (click)="createGrade()" name="btn-create">
            <div class="d-flex align-items-center justify-content-center">
              <img class="add-icon" src="assets/images/svg/add.svg" alt="">
              <span class="fs-13 fw-600">{{ t('btnAction.add') }}</span>
            </div>
          </button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="body-card ">
    <table class="table table-global align-middle">
      <thead>
        <tr>
          <th class="fs-14 fw-700 text-center" style="width: 10%;">
            {{ t('grade.order') }}
          </th>
          <th class="fs-14 fw-700 " style="width: 16%;">
            {{ t('grade.gradeName') }}
          </th>
          <th class="fs-14 fw-700 " style="width: 16%;">
            {{ t('grade.gradeCode') }}
          </th>

          <th class="fs-14 fw-700 " style="flex-grow: 1;">
            {{ t('grade.educationalStagesApply') }}
          </th>

          <th class="fs-14 fw-700 " style="width: 19%;">
            {{ t('grade.status') }}
          </th>

          <th class="fs-14 fw-700 " style="width: 13%;">
            {{ t('action') }}
          </th>
        </tr>
      </thead>

      <tbody class="fw-bold">
        <tr *ngFor="let item of listGrade;let i = index">
          <td class="fs-13 fw-500 text-center">{{i+1}}</td>
          <td class="fs-13 fw-700 grade-color ">{{item.name}}</td>
          <td class="fs-13 fw-500">{{ item.code }}</td>
          <td class="fs-13 fw-700">
            <span *ngIf="item.educationalStages== 5" class="stages-primarry-school">{{ t('grade.primarySchool')
              }}</span>
            <span *ngIf="item.educationalStages== 4" class="stages-secondary-school">{{ t('grade.secondarySchool')
              }}</span>
            <span *ngIf="item.educationalStages== 3" class="stages-high-school">{{ t('grade.highSchool') }}</span>
          </td>
          <td class="fs-13 fw-500">
            <span *ngIf="item.isActive == 1" class="active"> {{ t('grade.activated') }}</span>
            <span *ngIf="item.isActive == 0" class="unActive"> {{ t('grade.notActivated') }}</span>
          </td>

          <td class="color-td fs-11 fw-700">
            <ng-template ngxPermissionsOnly="{{ permission.grade_manager }}">
              <button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="add-action fs-13 fw-600"
                name="btn-action">
                <div class="d-flex align-items-center ">
                  <span class="fs-12 fw-500 w-100">{{ t('action') }}</span>
                  <img class="add-icon" src="assets/images/svg/activate.svg" alt="">
                </div>
                <span class="user-action">
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                      <ng-template ngxPermissionsOnly="{{ permission.grade_manager }}">
                        <li nz-menu-item class="fs-13 fw-600 custom-action-item" (click)=" updateGrade(item)"
                          name="btn-update-grade">
                          <img class="action-icon" src="assets/images/svg/edit.svg" alt="">{{ t('btnAction.update') }}
                        </li>
                      </ng-template>
                      <ng-template ngxPermissionsOnly="{{ permission.grade_manager }}">
                        <li nz-menu-item class="fs-13 fw-600 custom-action-item" (click)="removeGrade(item.id)"
                          name="btn-remove-grade"><img class="action-icon" src="assets/images/svg/icon-delete.svg"
                            alt="">{{t('btnAction.delete')
                          }}</li>
                      </ng-template>
                    </ul>
                  </nz-dropdown-menu>
                </span>
              </button>
            </ng-template>
          </td>
        </tr>
        <tr *ngIf="listGrade?.length == 0 || !listGrade">
          <td class="text-no-data" colspan="5">{{t('noData')}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="footer-card">
    <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
      [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)" *ngIf="collectionSize >= sizeOption[0]">
    </app-pagination>
  </div>
  <div class="spinner" *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
</div>