.detail-campus-infomation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .title-infomation{
        color: #495057;
    }
    .lb-info{
        color: #495057;
        .value-info{
            color: #50A5F1;
        }
    }
}
.detail-campus-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .title-contact{
        color: #495057;
    }
    .lb-contact{
        color: #495057;
        .value-contact{
            color: #50A5F1;
        }
    }
}