<div class="card card-flush shadow-sm p-0 h-full" *transloco="let t; scope: 'campus'">
  <div class="card-header">
    <h3 class="card-title fs-18 fw-700">{{ t('campus.campusList') }}</h3>
    <div class="card-toolbar">
      <div class="filter d-flex flex-wrap align-items-center">  
        <select class="so-form-control so-select me-4 mb-3"
          name="select-filter-status-campus" (change)="changeFilterStatus($event)">
          <option value="">{{ t('status') }}</option>
          <option value="1">{{ t('campus.activated') }}</option>
          <option value="0">{{ t('campus.locked') }}</option>
        </select>
        <div class="so-input-search me-4 mb-3">
          <input #searchInput type="text" name="input-search" placeholder="{{ t('campus.enterCampusName') }}"
                 (keyup.enter)="checkChangeKeywordSerach(searchInput.value)">
          <img src="assets/images/svg/search.svg" alt="icon" class="cursor-pointer" (click)="checkChangeKeywordSerach(searchInput.value)"/>
        </div> 
        <ng-template ngxPermissionsOnly="{{ permission.campus_manager }}">
          <button class="so-btn so-btn-primary so-btn-primary--small mb-3"
            (click)="openModalCampusForm()" name="btn-add-campus">
            <img class="add-icon" src="assets/images/svg/add.svg" alt="">
            {{ t('btnAction.add') }}
          </button>
        </ng-template>
    </div>
    </div>
  </div>
  <div class="card-body py-5 pt-0">
    <div class="table-responsive">
      <table class="table table-row-bordered table-row-gray-300">
        <caption></caption>
        <thead>
          <tr class="fs-14 fw-700 text-color-river-bed">
            <th class="text-center w-5">
              {{ t('campus.order') }}
            </th>
            <th class="text-left-th w-30">
              {{ t('campus.campusName') }}
            </th>
            <th class="text-left-th w-20">
              {{ t('campus.campusInfomation') }}
            </th>
            <th class="text-left-th w-20">
              {{ t('campus.contact') }}
            </th>
            <th class="text-center w-15">
              {{ t('status') }}
            </th>
            <th class="text-center w-10">
              {{ t('action') }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSource;let i = index">
            <td class="fs-13 fw-600 text-center">{{ i+1 }}</td>
            <td class="text-color-river-bed fs-13 fw-700">
              {{ item.name }}
            </td>
            <td>
              <div class="detail-campus-infomation">
                <h4 class="title-infomation fs-13 fw-700">{{ item.address }}</h4>
                <div class="d-flex flex-row align-items-center">
                  <span class="lb-info fs-12 fw-700 me-4">T: <b class="value-info fs-12 fw-500">{{ item.hotline }}</b></span>
                  <span class="lb-info fs-12 fw-700">E: <b class="value-info fs-12 fw-500">{{ item.email }}</b></span>
                </div>
              </div>
            </td>
            <td>
              <div class="detail-campus-contact">
                <h4 class="title-contact fs-13 fw-700">{{ item.contactName }}</h4>
                <div class="d-flex flex-row align-items-center">
                  <span class="lb-contact fs-12 fw-700 me-4">T: <b class="value-contact fs-12 fw-500">{{ item.contactPhone }}</b></span>
                  <span class="lb-contact fs-12 fw-700">E: <b class="value-contact fs-11 fw-500">{{ item.contactEmail }}</b></span>
                </div>
              </div>
            </td>
            <td class="text-center">
              <span class="badge so-badge {{ item.isActive == 1 ? 'badge-success so-badge--success' : 'badge-danger so-badge--danger' }}">{{ getTextStatus(item.isActive) }}</span>
            </td>
            <td class="fs-13 fw-600 text-center">
              <ng-template ngxPermissionsOnly="{{ permission.campus_manager }}">
                <span class="so-action" nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" name="opend-so-action">
                  <img class="so-action--icon-opend" src="assets/images/svg/three_vertical_dot_icon.svg" alt="">
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item class="fs-13 fw-600 text-color-river-bed" name="btn-update-user"
                        (click)="openModalUpdateCampus(item)"><img class="so-action--icon" src="assets/images/svg/write.svg"
                          alt="">{{ t('btnAction.update') }}
                      </li>
                      <li nz-menu-item class="fs-13 fw-600 text-color-river-bed" name="btn-assign-role-user"
                        (click)="opendModalDeleteCampus(item)"><img class="so-action--icon" src="assets/images/svg/icon-delete.svg"
                          alt="">{{ t('btnAction.delete') }}
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </span>
              </ng-template>
            </td>
          </tr>
          <tr *ngIf="dataSource?.length == 0 || !dataSource">
            <td class="text-no-data" colspan="6">{{t('noData')}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
