<form [formGroup]="changePassword" *transloco="let t;">
  <div class="modal-header">
    <h5 class="title-modal-global">{{t(dataModal?.titleModal)}}</h5>
    <button type="button" class="close modal-btn-close" data-dismiss="modal" (click)="closeModal(false)"
      name="icon-close" [hidden]="dataModal?.isHiddenBtnClose">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="info-user mb-8">
      <p class="lb-info fs-14 fw-700">{{t('account')}}: <span class="value-info">{{dataFromParent?.account || '--'}}</span></p>
      <p class="lb-info fs-14 fw-700">{{t('code')}}: <span class="value-info">{{dataFromParent?.code || '--'}}</span></p>
      <p class="lb-info fs-14 fw-700">{{t('username')}}: <span class="value-info">{{dataFromParent?.username || '--'}}</span></p>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-5">
        <label for="password" class="fw-600 mb-2">{{t('newPassword')}}</label>
        <div>
          <div class="so-input-password">
            <input class="form-control form-control-lg form-control-solid"
              type="{{isShowPassword ? 'text' : 'password'}}" name="password" autocomplete="off"
              placeholder="{{t('enterPassword')}}" formControlName="password" />
            <span (click)="showPassword('password')">
              <img src="{{isShowPassword ? 'assets/images/svg/eye_show.svg': 'assets/images/svg/eye_hide.svg'}}" alt="">
            </span>
          </div>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: t('requiredPassword'),
            control: changePassword.controls['password']
            }">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: t('minLengthPassword'),
            control: changePassword.controls['password']
            }">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: t('maxLengthPassword'),
            control: changePassword.controls['password']
            }">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'pattern',
            message: t('patternPasswordBasic'),
            control: changePassword.controls['password']
            }">
          </ng-container>
          <!-- test case pass -->
          <div class="err-login text-err-true" *ngIf="changePassword.controls['password'].value.length >= 6">
            <span class="icon-warming">
              <img src="assets/images/svg/icon-true.svg" alt="">
            </span>
            <span>{{t('minLengthPassword')}} </span>
          </div>
          <div class="err-login text-err-true"
            *ngIf="changePassword.controls['password'].value.length >= 6 && changePassword.controls['password'].value.length <= 50">
            <span class="icon-warming">
              <img src="assets/images/svg/icon-true.svg" alt="">
            </span>
            <span>{{t('maxLengthPassword')}} </span>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <label for="password" class="fw-600 mb-2">{{t('confirmPassword')}}</label>
        <div>
          <div class="so-input-password">
            <input class="form-control form-control-lg form-control-solid"
              type="{{isShowConfirmPassword ? 'text' : 'password'}}" name="confirmPassword" autocomplete="off"
              placeholder="{{t('enterConfirmPassword')}}" formControlName="confirmPassword" />
            <span (click)="showPassword('confirm-password')">
              <img src="{{isShowConfirmPassword ? 'assets/images/svg/eye_show.svg': 'assets/images/svg/eye_hide.svg'}}"
                alt="">
            </span>
          </div>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: t('requiredPassword'),
            control: changePassword.controls['confirmPassword']
            }">
          </ng-container>
          <div class="err-login text-danger"
            *ngIf="changePassword.controls['password'].value != changePassword.controls['confirmPassword'].value && changePassword.controls['confirmPassword'].value!=''">
            <span class="icon-warming">
              <img src="assets/images/svg/icon-false.svg" alt="">
            </span>
            <span>{{t('matchConfirmNewPassword')}} </span>
          </div>
        </div>
      </div>
    </div>
    <ng-template #formError let-control="control" let-message="message" let-validation="validation">
      <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
          <span role="alert">
            <div class="err-login text-danger" *ngIf="password == ''">
              <span class="icon-warming">
                <img src="assets/images/svg/icon-false.svg" alt="">
              </span>
              <span>{{ message }}</span>
            </div>
          </span>
        </div>
      </ng-container>
    </ng-template>
  </div>
  <div class="modal-footer">
    <button type="button" class="so-btn so-btn-cancel" data-dismiss="modal" name="btn-cancel"
      (click)="closeModal(false)">{{t(dataModal?.btnCancel)}}</button>
    <button type="button" class="so-btn so-btn-primary so-btn-primary--small" name="btn-accept"
      [disabled]="hasError || changePassword.controls['confirmPassword'].value =='' || changePassword.controls['password'].value ==''"
      (click)="submit(changePassword.value)">{{t(dataModal?.btnAccept)}}</button>
  </div>
</form>

<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
