.so-input-password {
  position: relative;
}

.so-input-password > span {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 3px;
  cursor: pointer;
}

.so-input-password img {
  width: 17px;
  height: 14px;
}

.err-login {
  display: inline-flex;
}

.err-login span.icon-warming {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  padding: 2px 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // background: #ffd7d7;
  margin-right: 5px;
}

.err-login img {
  width: 12px;
  height: 11px;
}

.err-login {
  display: flex;
  margin-bottom: 5px;
}
.err-login span.icon-warming {
  background: none;
}

.text-err-true {
  color: #34C38F;
}

.text-link {
  color: #3289f3;
}

.info-user{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .lb-info{
    margin-right: 4rem;
    color: #495057;
    .value-info{
      color: #50A5F1;
    }
  }
}
