.top {
    display: block;
    padding-bottom: 1rem;
    .avatar{
        width: 13.5rem;
        height: 13.5rem;
        border-radius: 12px;
    }
}

@media (min-width: 630px) {
    .top {
        display: flex;
    }
}

.student-body {

    .set-icon {
        filter: brightness(0) saturate(100%) invert(70%) sepia(39%) saturate(5637%) hue-rotate(184deg) brightness(101%) contrast(89%);
        width: 15px;
        height: 15px;
        margin-right: 0.5rem;
    }

    .top-info {
        display: block;
    }

    .process-card {
        display: block;

        .text-label {
            width: auto;
            min-width: 130px;
        }

        .process-label {
            flex-grow: 1;
        }
    }

    @media (min-width: 1150px) {
        .top-info {
            display: flex;
        }

        .process-card {
            display: flex;

            .progress {
                margin-right: 2rem;
            }
        }
    }

    h4 {
        margin-bottom: 2rem;
    }

    
    .label {
        margin-bottom: 2rem;
        margin-right: 4rem;
    }
}

.general-info {
    .label-info {
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: 1px solid #EFF2F5;
    }

    .address {
        min-width: 120px;
    }
}