

.mb-0 {
  margin-bottom: 0;
}
.badge {
  min-width: 12rem;
}
.webkit-box-1 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}



.card-button {
  img{
    margin-right: 5px;
  }
}



.action-icon {
  margin-right: 1.6rem;
}
