.text-left-th {
    text-align: left !important;
}

.custom-table-menu {
    .custom-icon-menu {
        width: 20px;
        height: 20px;
        filter: brightness(0) saturate(100%) invert(82%) sepia(40%) saturate(7358%) hue-rotate(182deg) brightness(98%) contrast(93%);
    }

    .custom-action-update {
        .custom-action-menu {
            margin-right: 5px;
            width: 13px;
            height: 13px;
            object-fit: contain;
            filter: brightness(0) saturate(100%) invert(40%) sepia(91%) saturate(1002%) hue-rotate(327deg) brightness(121%) contrast(91%);
        }
    }
}