<div class="card card-flush shadow-sm p-0 h-full" *transloco="let t; scope: 'role'">
  <div class="card-header">
    <h3 class="card-title fs-18 fw-700">{{t('role.detailRole')}}</h3>
    <div class="card-toolbar">
      <div class="d-flex algin-item-center">
        <ng-template ngxPermissionsOnly="{{ permission.role_modify }}">
          <button class="so-btn so-btn-primary so-btn-primary--small me-3" (click)="update()" name="btn-update-role">
            <img src="assets/images/svg/edit.svg" alt="">
            {{t('btnAction.update')}}
          </button>
        </ng-template>
        <button class="so-btn so-btn-cancel so-btn-primary--small" (click)="backPage()" name="btn-back-page">
          {{t('btnAction.exit')}}
        </button>
      </div>
    </div>
  </div>

  <div class="card-body py-5 pt-0">
    <div>
      <div class="d-flex w-full">
        <div class="d-flex align-items-center info">
          <span class="text-color-river-bed">{{t('role.nameRole')}}:</span>
          <span>{{infoRole?.name || '--'}}</span>
        </div>
        <div class="d-flex align-items-center info">
          <span class="text-color-river-bed">{{t('role.codeRole')}}:</span>
          <span>{{infoRole?.code || '--'}}</span>
        </div>
        <div class="d-flex align-items-center info">
          <span class="text-color-river-bed">{{t('role.layout')}}:</span>
          <span>{{mapNameLayout()}}</span>
        </div>
      </div>
      <div class="d-flex info w-full mt-3">
        <span class="text-color-river-bed">{{t('description')}}:</span>
        <span class="color-primary">{{infoRole?.description || '--'}}</span>
      </div>
    </div>
    <div class="mt-4">
      <nz-tabset (nzSelectedIndexChange)="changeTab($event)" [nzSelectedIndex]="tabActive-1">
        <nz-tab [nzTitle]="tab1">
          <ng-template #tab1>
            <img src="assets/images/svg/list.svg" alt="" class="me-2">
            <span class="fw-600">{{t('role.listPermission')}}</span>
          </ng-template>
          <app-tab-permissions-module-tenant [roleId]="roleId" *ngIf="tabActive == 1"></app-tab-permissions-module-tenant>
        </nz-tab>
        <nz-tab [nzTitle]="tab2">
          <ng-template #tab2>
            <img src="assets/images/svg/people.svg" alt="" class="me-2">
            <span class="fw-600">{{t('role.listUser')}}</span>
          </ng-template>
          <app-tab-user-role-tenant [roleId]="roleId" [roleName]="infoRole?.name" [roleCode]="infoRole?.code"
            [layout]="infoRole?.layout" *ngIf="tabActive == 2 && !isLoading"></app-tab-user-role-tenant>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</div>

<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
