<div class="p-2">
  <a
  class="so-menu-item"
  routerLink="/tenant/home"
  routerLinkActive="active">
    <span class="so-menu-item-icon">
      <img src="assets/images/svg/icon-sidebar/icon-home.svg" alt="">
    </span>
    <span>Trang chủ</span>
  </a>

  <!-- người dùng -->
  <div class="group-item-menu my-6">
    <span class="group-item-menu-name">Người dùng hệ thống</span>
    <hr>
    <a
    class="so-menu-item"
    routerLink="/tenant/customer-manager"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-khach-hang.svg" alt="">
      </span>
      <span>Quản lý khách hàng</span>
    </a>
    <a
    class="so-menu-item"
    routerLink="/tenant/menu-manager"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-menu-khach-hang.svg" alt="">
      </span>
      <span>Quản lý Menu khách hàng</span>
    </a>
  </div>

  <!-- Chức năng người dùng -->
  <div class="group-item-menu my-6">
    <span class="group-item-menu-name">Chức năng người dùng</span>
    <hr>
    <a
    class="so-menu-item"
    routerLink="/tenant/module"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-module.svg" alt="">
      </span>
      <span>Quản lý danh sách Module</span>
    </a>
    <a
    class="so-menu-item"
    routerLink="/tenant/role"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-role.svg" alt="">
      </span>
      <span>Quản lý Role</span>
    </a>
  </div>

  <!-- Học tập  -->
  <div class="group-item-menu my-6">
    <span class="group-item-menu-name">Học tập </span>
    <hr>
    <a
    class="so-menu-item"
    routerLink="/tenant/school-year"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-nam.svg" alt="">
      </span>
      <span>Quản lý năm học</span>
    </a>
    <a
    class="so-menu-item"
    routerLink="/tenant/grade"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-khoi.svg" alt="">
      </span>
      <span>Quản lý khối</span>
    </a>
    <a
    class="so-menu-item"
    routerLink="/tenant/subject"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-mon.svg" alt="">
      </span>
      <span>Quản lý môn học</span>
    </a>
  </div>

  <!-- Khai báo hệ thống  -->
  <div class="group-item-menu my-6">
    <span class="group-item-menu-name">Khai báo hệ thống </span>
    <hr>
    <a
    class="so-menu-item"
    routerLink="/tenant/circulars-manager"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-thong-tu.svg" alt="">
      </span>
      <span>Quản lý thông tư</span>
    </a>
    <a
    class="so-menu-item"
    routerLink="/tenant/user"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-nguoi-dung.svg" alt="">
      </span>
      <span>Quản lý người dùng</span>
    </a>
    <a
    class="so-menu-item"
    routerLink="/tenant/moet"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-csdl.svg" alt="">
      </span>
      <span>Quản lý CSDL</span>
    </a>
  </div>

</div>
