<ng-container class="modal-import" *transloco="let t; scope: 'employee'">
  <div class="modal-header border-none">
    <h5 class="title-modal-global fw-700 ">{{t(dataModal.title)}}</h5>
    <button type="button" class="close modal-btn-close" data-dismiss="modal" (click)="closeModal(false)"
            [hidden]="dataModal?.isHiddenBtnClose">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="fw-600 text-danger">{{t('note')}}:</p>
    <p class="fw-600">
      - {{t('employee.note1')}}<br>
      - {{t('employee.note2')}}<br>
      - {{t('employee.note3')}}
    </p>
    <div class="row mt-4">
      <label class="col-sm-2 col-form-label fw-600">{{t('employee.school')}}</label>
      <div class="col-sm-6 px-0">
        <nz-select id="selectSchool" nzShowSearch [(ngModel)]="schoolId" class="form-control so-form-control"
                   nzNotFoundContent="{{t(nzNotFoundContent)}}">
          <nz-option *ngFor="let item of dataModal.schoolList"
                     [nzLabel]="item.name"
                     [nzValue]="item.id">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div class="row mt-4">
      <label class="col-sm-2 col-form-label fw-600">{{t('fileFormat')}}</label>
      <div class="col-sm-6 px-0 input-import-modal">
        <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" hidden
               id="input-file-upload-employee" class="form-control so-form-control" (change)="onFileChange($event)">
        <img src="assets/images/svg/icon-excel.svg" class="image-upload-import-custom cursor-pointer">
        <div class="cursor-pointer" (click)="uploadFile()">
          <input readonly type="text" class="form-control form-control-custom fs-13 fw-600 cursor-pointer" [(ngModel)]="fileName"
                 placeholder="{{t('warmingValidateFormImport')}}">
        </div>
        <span class="span-image-upload-import-custom fw-600 d-flex justify-content-center align-items-center"
              (click)="uploadFile()">
          <img src="/assets/images/svg/import6.svg">
          {{t('clickUpload')}}
        </span>
      </div>

      <div class="col-sm-4 d-flex justify-content-end">
        <a download="file-import-mau-upload-CBNV" href="assets/files/Import_CBNV_template.xlsx"
           type="text/plain"
           class="so-btn so-btn-primary so-btn-primary--small btn-download-sample-files me-2" >
          <img src="assets/images/svg/icon-import.svg" alt="icon">
          {{t('downloadSampleFiles')}}
        </a>
      </div>
    </div>
  </div>
  <div class="modal-footer border-none d-flex justify-content-center">
    <button type="button" class="so-btn btn-confirm-import-custom" [disabled]="!file || isLoading"
            (click)="confirmUploadFile()">{{t('btnAction.confirm')}}</button>
  </div>
  <div class="spinner" *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
</ng-container>
