.behavior-config {
    .w-input {
        width: 12rem;
        margin-right: 2rem;
    }

    .item-label {
        min-width: 21rem;
    }

    .behavior-lock-err {
        // margin-left: 21rem;
    }

    .set-height {
        height: fit-content;
    }
}