<div class="d-flex flex-row so-tab-vertical shadow-sm h-100" *transloco="let t; scope: 'student'">
  <ul class="card nav nav-tabs nav-pills flex-row border-0 flex-md-column mb-3 me-3 mb-md-0 min-w-lg-200px w-20">
    <li class="nav-item w-100 me-0 mb-md-2">
      <a class="nav-link w-100 {{ tabActive == 'student-detail' ? 'active' : '' }} btn btn-flex" data-bs-toggle="tab"
        (click)="activeTab('student-detail')">
        <span class="svg-icon svg-icon-2 me-5">
          <img class="so-tab-icon" src="assets/images/svg/icon-sidebar/icon-ql-module.svg" alt="">
        </span>
        <span class="d-flex flex-column align-items-start">
          <span class="fs-14 fw-700">{{ t('student.studentInfo') }}</span>
          <!-- <span class="fs-11">Description</span> -->
        </span>
      </a>
    </li>
    <li class="nav-item w-100 me-0 mb-md-2">
      <a class="nav-link w-100 {{ tabActive == 'tab2' ? 'active' : '' }} btn btn-flex" data-bs-toggle="tab"
        (click)="activeTab('tab2')">
        <span class="svg-icon svg-icon-2 me-5">
          <img class="so-tab-icon" src="assets/images/svg/home.svg" alt="">
        </span>
        <span class="d-flex flex-column align-items-start">
          <span class="fs-14 fw-700">Link 2</span>
          <!-- <span class="fs-11">Description</span> -->
        </span>
      </a>
    </li>

  </ul>
  <div class="card tab-content w-80" id="myTabContent">
    <ng-container *ngIf="tabActive == 'student-detail'">
      <div class="tab-pane fade {{ tabActive == 'student-detail' ? 'show active' : '' }}" role="tabpanel">
        <app-tab-student-person-info-tenant [studentId]="studentId"></app-tab-student-person-info-tenant>
      </div>
    </ng-container>
    <ng-container *ngIf="tabActive == 'tab2'">
      <div class="tab-pane fade {{ tabActive == 'tab2' ? 'show active' : '' }}" role="tabpanel">
        <!-- Nội dung 2 -->
      </div>
    </ng-container>

  </div>
</div>