
<!-- Dashboard -->
<div class="menu-item">
  <a class="so-menu-item" routerLink="/tenant/home" routerLinkActive="active">
    <span class="so-menu-item-icon">
      <img src="assets/images/svg/icon-sidebar/icon-home.svg" alt="">
    </span>
    <span class="menu-title">Trang chủ</span>
  </a>
</div>


<!-- Separator -->
<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <!--    <span class="group-item-menu-name ">Người dùng hệ thống</span>-->
    <span class="menu-section text-muted text-uppercase fs-8 ls-1 group-item-menu-name-custom">
      Người dùng hệ thống
    </span>
    <div class="separator mx-1 my-4"></div>
  </div>
  <a
    class="so-menu-item"
    routerLink="/tenant/school"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/school_icon.svg" alt="">
      </span>
    <span class="menu-title">Trường học</span>
  </a>
  <a
    class="so-menu-item"
    routerLink="/tenant/customer-manager"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-khach-hang.svg" alt="">
      </span>
    <span class="menu-title">Khách hàng</span>
  </a>
  <a
    class="so-menu-item"
    routerLink="/tenant/menu-manager"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-menu-khach-hang.svg" alt="">
      </span>
    <span class="menu-title">Menu khách hàng</span>
  </a>
</div>
<!-- Pages -->

<!-- Separator -->
<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <!--    <span class="group-item-menu-name ">Người dùng hệ thống</span>-->
    <span class="menu-section text-muted text-uppercase fs-8 ls-1 group-item-menu-name-custom">
      Chức năng người dùng
    </span>
    <div class="separator mx-1 my-4"></div>
  </div>
  <a
    class="so-menu-item"
    routerLink="/tenant/module"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-module.svg" alt="">
      </span>
    <span class="menu-title">Module</span>
  </a>
  <a class="so-menu-item" routerLink="/tenant/role" routerLinkActive="active">
    <span class="so-menu-item-icon">
      <img src="assets/images/svg/icon-sidebar/icon-ql-role.svg" alt="">
    </span>
    <span class="menu-title">Phân quyền</span>
  </a>
  <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
    <span class="menu-link so-menu-item">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-nguoi-dung.svg" alt="">
      </span>
    <span class="menu-title">Quản lí người dùng</span>
  </span>
    <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
      <span class="menu-link " routerLink="/tenant/user" routerLinkActive="active">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title" >Người dùng</span>
      </span>
      <span class="menu-link " routerLink="/tenant/student" routerLinkActive="active">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title" >Học sinh</span>
      </span>
      <span  class="menu-link "
             routerLinkActive="active" routerLink="/tenant/parent">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title" >Phụ huynh</span>
      </span>
      <span  class="menu-link "
             routerLinkActive="active"
             routerLink="/tenant/employee">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title" >CBNV</span>
      </span>
    </div>
  </div>
</div>

<!-- Separator -->
<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <!--    <span class="group-item-menu-name ">Người dùng hệ thống</span>-->
    <span class="menu-section text-muted text-uppercase fs-8 ls-1 group-item-menu-name-custom">
      Học tập
    </span>
    <div class="separator mx-1 my-4"></div>
  </div>
  <a
    class="so-menu-item"
    routerLink="/tenant/school-year"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-nam.svg" alt="">
      </span>
    <span>Năm học</span>
  </a>
  <a
    class="so-menu-item"
    routerLink="/tenant/grade"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-khoi.svg" alt="">
      </span>
    <span>Khối</span>
  </a>
  <a
    class="so-menu-item"
    routerLink="/tenant/subject"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-mon.svg" alt="">
      </span>
    <span>Môn học</span>
  </a>
</div>
<!-- Pages -->

<!-- Separator -->
<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <!--    <span class="group-item-menu-name ">Người dùng hệ thống</span>-->
    <span class="menu-section text-muted text-uppercase fs-8 ls-1 group-item-menu-name-custom">
      Khai báo hệ thống
    </span>
    <div class="separator mx-1 my-4"></div>
  </div>
  <a
    class="so-menu-item"
    routerLink="/tenant/circulars-manager"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-thong-tu.svg" alt="">
      </span>
    <span>Thông tư</span>
  </a>
  <a
    class="so-menu-item"
    routerLink="/tenant/user"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-ql-nguoi-dung.svg" alt="">
      </span>
    <span>Người dùng</span>
  </a>
  <a
    class="so-menu-item"
    routerLink="/tenant/moet"
    routerLinkActive="active">
      <span class="so-menu-item-icon">
        <img src="assets/images/svg/icon-sidebar/icon-csdl.svg" alt="">
      </span>
    <span>CSDL</span>
  </a>
</div>
<!-- Pages -->




<!-- Separator -->
<div class="menu-item">
  <div class="menu-content">
    <div class="separator mx-1 my-4"></div>
  </div>
</div>





