.text-link {
  color: var(--bs-picton-blue);
}

.so-badge-status-0 {
  background: var(--bs-carrot-orange);
}

.so-badge-status-1 {
  background:var(--bs-picton-blue);
}

.btn-remove {
  background: none;
  border: none;
  outline: none;
  padding: 3px;
  cursor: pointer;
  img {
    width: 16px;
    height: 16px;
  }
}
.btn-remove:focus {
  outline: none;
}

::ng-deep table caption {
  display: none;
}

.text-has-err {
  font-size: 1.4rem;
  font-weight: 600;
}
