.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.img-color-50a5f1{
  filter: brightness(0) saturate(100%) invert(48%) sepia(52%) saturate(4828%) hue-rotate(177deg) brightness(102%) contrast(100%);
}
