
<div class="card card-flush shadow-sm p-0 h-full" *transloco="let t; scope: 'student-records'">
  <div class="card-header">
    <h3 class="card-title fs-18 fw-700">{{t('studentRecords.studentRecords')}}</h3>
    <div class="card-toolbar">
      <div class="filter d-flex flex-wrap align-items-center">
        <select name="class" id="class" [(ngModel)]="classId" class="so-select me-4 mb-3 fw-600" (ngModelChange)="filter()">
          <option [value]="''">{{t('class')}}</option>
          <ng-container *ngFor="let class of arrClasses">
            <option [value]="class.id">{{class.name}}</option>
          </ng-container>
        </select>

        <div class="so-input-search me-4 mb-3 fw-600">
          <input type="text" placeholder="{{t('studentRecords.search')}}" #searchInput name="input-search"
          (keydown)="search($event, searchInput.value)">
          <img src="assets/images/svg/search.svg" alt="" nzType="search" (click)="searchClickIcon(searchInput.value)"/>
        </div>
        <ng-template ngxPermissionsOnly="{{ permission.student_file_user_modify }}">
          <button class="so-btn so-btn-light so-btn-light--small mb-3" (click)="import()" name="btn-import">
            <img src="assets/images/svg/icon-upload-blue.svg" alt="">
            {{t('btnAction.import')}}
          </button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card-body py-5 pt-0">
    <div class="table-responsive">
      <table class="table table-row-bordered table-row-gray-300 so-table so-table-th-custom--white w-full mb-4">
        <caption></caption>
        <thead>
          <tr class="fs-14 fw-700">
            <th class="text-center w-5"> {{t('STT')}}</th>
            <th class="w-25"> {{t('fullName')}}</th>
            <th class="w-15"> {{t('class')}} </th>
            <th class="w-15"> {{t('birthday')}} </th>
            <th class="w-15"> {{t('gender')}} </th>
            <th class="w-15"> {{t('studentRecords.recordsCompleted')}} </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of arrList; let i=index">
            <tr class="fs-13 fw-600 text-color-river-bed">
              <td class="text-center fw-700">
                {{isLoading ? (oldPageIndex-1)*pageSize + i + 1 : (pageIndex-1)*pageSize + i + 1}}
              </td>
              <td>
                <div class="d-inline-flex align-items-center cursor-pointer fw-700" [routerLink]="item.studentUserId">
                  <img [src]="item.avatar || avatarDefault" alt="" class="avatar">
                  <div>
                    <span class="fs-14 d-block text-link fw-700">{{item.fullName}}</span>
                    <span class="fs-13 color-primary fw-500"><span class="text-link fw-700">{{t('code')}}:&nbsp;</span>{{item.code}}</span>
                  </div>
                </div>
              </td>
              <td class="fw-700">
                {{item?.className}}
              </td>
              <td class="fw-700">
                <div class="d-flex align-items-center">
                  <img src="assets/images/svg/calendar.svg" class="img-color-50a5f1" alt=""
                    style="width: 13px; height: 12px;">
                  <span class="fw-700 ms-2">{{item?.birthday | formatTime}}</span>
                </div>
              </td>
              <td>
                <span class="gender-{{ item.gender == arrGender[0].id ? 'male' : item.gender == arrGender[1].id ? 'fmale' : 'other' }}">
                  {{t(item?.genderName)}}
                </span>
              </td>
              <td>
                <span class="text-link fw-700">{{item.countFileUser}}/{{item.countFileUserImperative}} {{ t('studentRecords.categoryRecords') }}</span>
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="arrList?.length == 0 || !arrList">
            <td class="text-no-data" colspan="6">{{t('noData')}}</td>
          </tr>
        </tbody>
      </table>

      <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
        *ngIf="collectionSize > sizeOption[0]" [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
      </app-pagination>
    </div>
  </div>
</div>

<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
