.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.so-badge-status {
  border-radius: 7px !important;
  padding: 6px 12px !important;
}

.so-badge-status-1 {
  background: #fff8dd !important;

  color: #f1bc00;
}

.so-badge-status-2 {
  background: #f1faff !important;
  border-radius: 7px;
  color: #50a5f1;
}
