<div *transloco="let t; scope: 'user'">
  <div class="modal-header">
    <h5 class="title-modal-global">{{t(dataModal?.titleModal)}}</h5>
    <button type="button" class="close modal-btn-close" data-dismiss="modal" (click)="closeModal('dismiss')"
      [hidden]="!dataModal?.isHiddenBtnClose">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <table class="table-global w-full">
        <caption></caption>
        <thead>
          <tr class="fs-14">
            <th class="text-header-table w-5"> {{t('STT')}}</th>
            <th class="text-header-table w-20"> {{t('user.roleName')}}</th>
            <th class="text-header-table w-20"> {{t('user.roleCode')}} </th>
            <th class="text-header-table w-20"> {{t('user.layout')}} </th>
            <th class="text-header-table w-25"> {{t('user.donVi')}} </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of dataModal.dataFromParent.roleList; let i = index">
            <tr class="fs-13">
              <td class="text-color-river-bed fw-500">
                {{i + 1}}
              </td>
              <td class="text-color-river-bed fw-500">
                {{item.roleName}}
              </td>
              <td class="text-color-river-bed fw-500">
                {{item.roleCode}}
              </td>
              <td class="text-color-river-bed fw-500">
                {{getLayoutName(item.layout)}}
              </td>
              <td class="text-color-river-bed fw-500">
                {{item.unitName}}
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="dataModal.dataFromParent.roleList?.length == 0 || !dataModal.dataFromParent.roleList">
            <td class="text-no-data" colspan="5">{{t('noData')}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="so-btn so-btn-cancel" data-dismiss="modal"
      (click)="closeModal('cancel')">{{t(dataModal?.btnCancel)}}</button>
  </div>
</div>