.color-50a5f1 {
  color: var(--bs-picton-blue);
}

.color-6E798C {
  color: #6E798C;
}

.color-979DAE {
  color: #979DAE;
}

::ng-deep.insertHtml > .image > img{
  max-width: 100%;
}

.color-556EE6 {
  color: #556EE6;
}

.group-icon {
  img {
    width: 18px;
    height: 18px;
  }
  span:last-child {
    color: var(--bs-blue-lotus) !important;
  }
}

