#kt_content {
  padding: 0 14px 28px 0
}

@media only screen and (max-width: 991.98px) {
  #kt_content {
    padding: 10px 0
  }
}

:host {
  height: 100%;
  margin: 0;

  .flex-root {
    height: 100%;
  }
}

.page-loaded {
  app-layout {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}

