.card-body {
  .activate {
    cursor: pointer;
  }

  .p-right {
    margin-right: 0.5rem;
  }

  @mixin subject-type($color,$bgcolor) {
    color: $color;
    background-color: $bgcolor;
    min-width: 12rem;
    border-radius: 3px;
  }

  .subject-type-1{
    @include subject-type(var(--bs-picton-blue),var(--bs-hawkes-blue));
  }

  .subject-type-2{
    @include subject-type(var(--bs-carrot-orange),var(--bs-light-apricot));
  }

  .subject-type-3{
    @include subject-type(var(--bs-greenish-teal),var(--bs-water-leaf));
  }
}
