<div class="card card-flush shadow-sm p-0 h-full" *transloco="let t; scope: 'subject'">
  <div class="card-header">
    <h3 class="card-title fs-18 fw-700">{{ t('subject.subjectManager') }}</h3>
    <div class="card-toolbar">
      <div class="filter d-flex flex-wrap align-items-center">

        <select class="so-form-control so-select me-4 mb-3 fw-600 text-color-river-bed" name="btn-subject"
          id="subjectType" [(ngModel)]="subjectType" (change)="changeIsActie()">
          <option value="">{{ t('subject.subject') }}</option>
          <option value="1">{{ t('subject.subjectMoet') }}</option>
          <option value="2">{{ t('subject.subjectPrivate') }}</option>
          <option value="3">{{ t('subject.subjectBilingual') }}</option>
        </select>

        <select class="so-form-control so-select me-4 mb-3 fw-600 text-color-river-bed" name="btn-educationalStages"
          id="educationalStages" [(ngModel)]="educationalStages" (change)="changeIsActie()">
          <option value="">{{ t('subject.educationalStages') }}</option>
          <option value="5">{{ t('subject.primarySchool') }}</option>
          <option value="4">{{ t('subject.secondarySchool') }}</option>
          <option value="3">{{ t('subject.highSchool') }}</option>
        </select>

        <div class="so-input-search me-4 mb-3">
          <input type="text" class="so-form-control form-control fw-600 text-color-river-bed"
            placeholder="{{ t('search') }}" [(ngModel)]="keyWord" name="btn-search" (keyup.enter)="changeIsActie()">
          <img class="cursor-pointer" src="assets/images/svg/search.svg" alt="" (click)="changeIsActie()">
        </div>
        <ng-template ngxPermissionsOnly="{{ permission.subject_manager }}">

          <button class="so-btn so-btn-primary so-btn-primary--small mb-3" (click)="createSubject()" name="btn-create">
            <div class="d-flex align-items-center justify-content-center">
              <img class="add-icon" src="assets/images/svg/add.svg" alt="">
              <span class="fs-13 fw-600">{{ t('btnAction.add') }}</span>
            </div>
          </button>

        </ng-template>
      </div>
    </div>
  </div>

  <div class="card-body py-5 pt-0">
    <div class="table-responsive">
      <table class="table table-row-bordered table-row-gray-300">
        <caption></caption>
        <thead>
          <tr class="fs-14 fw-700 text-color-river-bed">
            <th class="text-center w-5">
              {{ t('subject.order') }}
            </th>
            <th class="w-17">
              {{ t('subject.subjectName') }}
            </th>
            <th class="w-14">
              {{ t('subject.subjectCode') }}
            </th>
            <th class="w-15">
              {{ t('subject.subject') }}
            </th>
            <th class="flex-grow-1">
              {{ t('subject.educationalStagesApply') }}
            </th>
            <th class="w-6 text-center">
              {{ t('action') }}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr class="fs-13 fw-600 text-color-river-bed" *ngFor="let item of listSubject;let i = index">
            <td class=" text-center">{{isLoading ? (oldPageIndex-1)*pageSize + i + 1 : (pageIndex-1)*pageSize + i + 1}}
            </td>
            <td class=" subject-color ">{{item.name}}</td>
            <td class="">{{ item.code }}</td>
            <td class="">
              <div *ngIf="item.subjectType == 1" class="">
                <span class="badge so-badge subject-type-1 ">{{ t('subject.subjectMoet') }}</span>
              </div>
              <div *ngIf="item.subjectType == 2" class="">
                <span class="badge so-badge subject-type-2 ">{{ t('subject.subjectPrivate') }}</span>
              </div>
              <div *ngIf="item.subjectType == 3" class="">
                <span class="badge so-badge subject-type-3 ">{{ t('subject.subjectBilingual') }}</span>
              </div>
            </td>
            <td class="">
              <span class="stages-high-school   p-right" *ngFor="let edu of item.educationalStages">
                <span *ngIf="edu == 5" class="text-color-greenish-teal fw-700">{{ t('subject.primarySchool') }}</span>
                <span *ngIf="edu == 4" class="text-color-picton-blue fw-700">{{ t('subject.secondarySchool') }}</span>
                <span *ngIf="edu == 3" class="text-color-carrot-orange fw-700">{{ t('subject.highSchool') }}</span>
              </span>
            </td>
            <td class="text-center">
              <ng-template ngxPermissionsOnly="{{ permission.subject_manager }}">
                <span *ngIf="item.subjectType != 1" class="so-action" nz-button nz-dropdown nzTrigger="click"
                  [nzDropdownMenu]="menu" name="opend-so-action">
                  <img class="so-action--icon-opend" src="assets/images/svg/three_vertical_dot_icon.svg" alt="">
                </span>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <ng-template ngxPermissionsOnly="{{ permission.subject_manager }}">
                      <li nz-menu-item class="fs-13 fw-600 text-color-river-bed" (click)=" updateSubject(item)">
                        <img class="so-action--icon" src="assets/images/svg/edit.svg" alt="">{{ t('btnAction.update') }}
                      </li>
                      <li nz-menu-item class="fs-13 fw-600 text-color-river-bed" (click)="removeSubject(item.id)"><img
                          class="so-action--icon" src="assets/images/svg/icon-delete.svg" alt="">{{t('btnAction.delete')
                        }}</li>
                    </ng-template>
                  </ul>
                </nz-dropdown-menu>
              </ng-template>
            </td>
          </tr>
          <tr *ngIf="listSubject?.length == 0 || !listSubject">
            <td class="text-no-data" colspan="5">{{t('noData')}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="footer-card">
      <app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [collectionSize]="collectionSize"
        *ngIf="collectionSize > sizeOption[0]" [sizeOption]="sizeOption" (paginationChange)="paginationChange($event)">
      </app-pagination>
    </div>
  </div>

  <div class="spinner" *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
</div>