<ng-container *transloco="let t; scope: 'grade'">
  <div class="modal-header">
    <h5 class="title-modal-global">{{ dataModal?.titleModal }}</h5>
    <button type="button" class="close modal-btn-close" data-dismiss="modal" (click)="closeModal('dismiss')"
      [hidden]="!dataModal?.isHiddenBtnClose">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="infoForm">
      <div class="margin-top d-flex align-items-start col-md-12 row mb-5">
        <span class="fs-14 fw-700 label-input col-md-3">{{ t("grade.gradeName") }} <span
            class="text-danger">*</span></span>
        <div class="col-md-9 p-0">
          <input class="form-control custom-tag-of-form fs-14 fw-500" placeholder="{{ t('grade.enterGradeName') }}"
            name="input-grade-name" type="text" formControlName="name" />
          <div *ngFor="let item of validation_messages.name">
            <span class="text-danger" *ngIf="
                infoForm.get('name')?.hasError(item.type) &&
                infoForm.get('name')?.touched
              ">
              {{ item.message }}
            </span>
          </div>
        </div>
      </div>
      <div class="margin-top d-flex align-items-start col-md-12 row mb-5">
        <span class="fs-14 fw-700 label-input col-md-3">{{ t("grade.gradeCode") }} <span
            class="text-danger">*</span></span>
        <div class="col-md-9 p-0">
          <input class="custom-tag-of-form form-control fs-14 fw-500" placeholder="{{ t('grade.enterGradeCode') }}"
            name="input-grade-code" type="text" formControlName="code" />
          <div *ngFor="let item of validation_messages.code">
            <span class="text-danger" *ngIf="
                infoForm.get('code')?.hasError(item.type) &&
                infoForm.get('code')?.touched
              ">
              {{ item.message }}
            </span>
          </div>
        </div>
      </div>
      <div class="margin-top d-flex align-items-start col-md-12 row mb-5">
        <span class="fs-14 fw-700 label-input col-md-3">{{
          t("grade.educationalStagesApply")
          }} <span class="text-danger">*</span></span>
        <select class="fs-14 fw-500 custom-tag-of-form col-md-9" name="educational-stages"
          formControlName="educationalStages">
          <!--  <option value="">{{ t("grade.chooseApplicableSchoolLevel") }}</option> -->
          <option value="5">{{ t("grade.primarySchool") }}</option>
          <option value="4">{{ t("grade.secondarySchool") }}</option>
          <option value="3">{{ t("grade.highSchool") }}</option>
        </select>
      </div>
      <div class="margin-top d-flex align-items-start col-md-12 row">
        <div class="status col-md-3">
          <span class="fs-14 fw-700">{{ t("status") }}</span>
        </div>
        <label class="col-md-9 p-0" nz-checkbox name="grade-status" formControlName="isActive">{{ t("activated")
          }}</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="so-btn so-btn-cancel" data-dismiss="modal" (click)="closeModal('cancel')">
      {{ dataModal?.btnCancel }}
    </button>
    <button type="button" [disabled]="infoForm.invalid" class="so-btn so-btn-primary so-btn-primary--small"
      (click)="onSubmit()">
      {{ dataModal?.btnAccept }}
    </button>
  </div>
</ng-container>
<div class="spinner" *ngIf="isLoading">
  <app-loading></app-loading>
</div>